/******************************************************************
Site Name:
Author:

Stylesheet: Alert Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/



// alerts and notices
%alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

.alert-help {
  @extend %alert;
  border-color: darken($squash, 5%);
  background: $squash;
}

.alert-info {
  @extend %alert;
  border-color: darken($blue, 5%);
  background: $blue;
}

.alert-error {
  @extend %alert;
  border-color: darken($red, 5%);
  background: $red;
}

.alert-success {
  @extend %alert;
  border-color: darken($green, 5%);
  background: $green;
}