/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: $button-radius;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

// Set Defaults
	
	button {
		text-transform: none !important;
		font-weight: $heavy;
		font-family: $main-font;
		background-color: $orange;
		color: $white;
		border: 0px;
		border-radius: $button-radius;
		cursor: pointer;
		position: relative;
		display: table;
		margin: 10px auto !important;
		@include button(16);
		@include trans(0.2);
		
		&.xlarge { @include button(20); }
		&.large { @include button(18); }
		&.small { @include button(14); }
		&.xsmall { @include button(12); }
		
		&.wide { width: 100%; }
	
		&.nocaps {text-transform: capitalize !important; }
		&.light {font-weight: 200 !important; }
	}
	
	button:hover,
	button:focus, 
	button:active {
		outline:0;
		opacity: 1 !important;
	}

// Main Button Styles
	
	
// Responsive Sizing
@media (max-width: $bp-lg) {
	button {
		@include button(16);
		
		&.xlarge {@include button(20);}
		&.large {@include button(18);}
		&.small {@include button(14);}
		&.xsmall {@include button(14);}
	}

	@media (max-width: $bp-md) {
		button {
			@include button(14);
			
			&.xlarge {@include button(18);}
			&.large {@include button(16);}
			&.small {@include button(12);}
			&.xsmall {@include button(12);}
		}

		@media (max-width: $bp-sm) {
			button {
				@include button(14);

				&.xlarge {@include button(18);}
				&.large {@include button(16);}
				&.small {@include button(12);}
				&.xsmall {@include button(10);}
			}
			
		}
	}
}

	button.white-back {
		background-color: $white;
		color: $blue;
		border: 1px solid $gray;
		
		&:focus,
		&:hover,
		&:active {
			background-color: $white;
			color: $blue !important;
			border: 1px solid $blue;

			i {
			 color: $blue !important;
			}
		}
	}

	button.red-back {	
		
		&:focus,
		&:hover,
		&:active {
			background-color: darken( $darkred, 5%) !important;
			color: $white !important;

			i {
			 color: $white !important;
			}
		}
	}

	button.blue-back {	
		
		&:focus,
		&:hover,
		&:active {
			background-color: $darkblue !important;
			color: $white !important;

			i {
			 color: $white !important;
			}
		}
	}

	button.green-back {	
		
		&:focus,
		&:hover,
		&:active {
			background-color: $darkgreen !important;
			color: $white !important;

			i {
			 color: $white !important;
			}
		}
	}

	button.orange-back {	
		
		&:focus,
		&:hover,
		&:active {
			background-color: $darkorange !important;
			color: $white !important;

			i {
			 color: $white !important;
			}
		}
	}

