//Page Header Images
.main-image {
		width: 100%;
		height: calc(100vh - 108px);
		max-height: calc(100vh - 108px);
		margin: 0 auto;
		padding: 0;
		top: 0;
		background-position: 50% 50%;
	    background-size: cover;
		position: relative;
		overflow: hidden;
		transform: scale(1);
		box-shadow: inset 0 0 0px rgba(0,0,0,1);
		@include clearfix;
		@include trans(1);
	
		&:hover {
			opacity: 1 !important;
			transform: scale(1);
			@include trans(1);
			
			a, div {opacity: 1 !important;}
			
			a:hover {opacity: 1 !important;}
		}
		
		section {
			z-index: 3;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		

		.main-image-inner {
			height: calc(100vh - 108px);
			max-height: calc(100vh - 108px);
			position: relative;
			padding: 20px 0px;
			z-index: 3;
			width: 100%;


			.main-image-inner-content {
				position: absolute;
				width: 100%;
				padding: 100px 30px 30px 30px;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 78%, rgba(0,0,0,0.9) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 78%,rgba(0,0,0,0.9) 100%); 
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 78%,rgba(0,0,0,0.9) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
				bottom: 0;
				z-index: 5;
			}
			
			.main-image-buttons {
				color: $white;
				font-size: 16px;
				position: absolute;
				bottom: 0;
				width: 100%;
			}
			
			.main-image-caption {
				padding-top: 10px;
				position: relative;
				color: $white;
				z-index: 5;
				font-size: 14px;
				font-style: italic;
				
			}

		}

	&.small {
		height: 350px;
		max-height: 350px;

		.main-image-inner {
			height: 350px;
			max-height: 350px;
		}

	}

	&.medium {
		height: 400px;
		max-height: 400px;
		overflow: hidden;

		.main-image-inner {
			height: 400px;
			max-height: 400px;
		}
	}
	
	&.large {
		height: 425px;
		max-height: 425px;

		.main-image-inner {
			height: 425px;
			max-height: 425px;
		}
	}
	&.destination {
		box-shadow: inset 0 0 0px rgba(0,0,0,1);

	#destination-title-wrap {
		position: absolute;
		width: 100%;
		padding: 100px 30px 30px 30px;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 78%, rgba(0,0,0,0.9) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 78%,rgba(0,0,0,0.9) 100%); 
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 78%,rgba(0,0,0,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
		bottom: 0;
		z-index: 5;
		
		#destination-buttons {
			color: $white;
			font-size: 16px;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		
	}
		
	}
	
	#google-map {
		position: absolute !important;
		width: 100%;
		right: 0;
		top: -100vh;
		background-color: $blue;
		z-index: 4 !important;
		@include trans(0.4);
		height: calc(100vh - 108px);

		&.visible {
			right: 0;
			top: 0;
		}

		#map {
			height: calc(100vh - 108px);
			width: 100%;
			box-shadow: 0 0 0 rgba(0,0,0,0);

			.map-popup {
				font-family: $main-font !important;
				max-width: 300px;
				position: relative;
				padding-top: 20px;
				
				img.blurb { position: absolute; top: 12px; right: -20px;}
			}
		}

	} //google-map


} //main-image

#breadcrumbs {
	font-size: 18px;
	font-weight: bold;
	color: $white;
	text-shadow: 0 3px 6px rgba(0,0,0, 0.4);
	padding: 10px;
	
	a:hover {
		opacity: 0.8;
	}
}

//Fix bad crops on BIG screens
@media (max-width: $bp-xl) {

.main-image {
		height: calc(100vh - 108px);
		max-height: calc(100vh - 108px);


		.main-image-inner {
			height: calc(100vh - 108px);
			max-height: calc(100vh - 108px);
			
		}

	//Listing Pages
	&.short {
		height: 400px;
		max-height: 400px;

		.main-image-inner {
			height: 400px;
			max-height: 400px;
		}

	}

	&.medium {
		height: 450px;
		max-height: 450px;

		.main-image-inner {
			height: 450px;
			max-height: 450px;
		}

	}

	//Blog Header Images
	&.blog,
	&.tall {
		height: 500px;
		max-height: 500px;

		.main-image-inner {
				height: 500px;
				max-height: 500px;
			}

	}
	

}

@media (max-width: $bp-lg) {
	
	#breadcrumbs {
		font-size: 16px;
	}

	.main-image {
			height: 500px;
			max-height: 500px;


		.main-image-inner {
			height: 500px;
			max-height: 500px;
			padding: 30px 0;
			
				.main-image-caption {
					font-size: 12px;
					padding: 0;
				}
		}
		
	&.destination {
		height: 500px;
		max-height: 500px;
		
		.main-image-inner {
			height: 500px;
			max-height: 500px;
		}
	}

	&.small {
		height: 350px;
		max-height: 350px;

		.main-image-inner {
			height: 350px;
			max-height: 350px;
		}
		
	}

	&.medium {
		height: 375px;
		max-height: 375px;

		.main-image-inner {
			height: 375px;
			max-height: 375px;
		}

	}

	&.large {
		height: 400px;
		max-height: 400px;

		.main-image-inner {
				height: 400px;
				max-height: 400px;
			}
	}
	

} //main-image


@media (max-width: $bp-md) {
	
	#breadcrumbs {
		font-size: 14px;
	}

	.main-image {
			height: 500px;
			max-height: 500px;
			padding: 0;



		.main-image-inner {
			height: 500px;
			max-height: 500px;
			padding: 30px 0 !important;
			text-align: center;
			
			
			
			.main-image-buttons {
					font-size: 14px;
					position: relative;
					padding-top: 20px;
				}
			
		}

	&.medium {
			height: 350px;
			max-height: 350px;

		.main-image-inner {
			height: 350px;
			max-height: 350px;
			padding: 0;
		}

	}

	&.large {
		height: 375px;
		max-height: 375px;

		.main-image-inner {
				height: 375px;
				max-height: 375px;
				padding: 0;
			}

	}
		
	&.destination {
		padding: 0 !important;
		
		.main-image-inner {
			padding: 30px 0 !important;
		}
	
	#destination-title-wrap {
		width: 100%;
		padding: 30px 30px 15px 30px;
		bottom: 0;
		text-align: center;
		
		#destination-buttons {
			color: $white;
			font-size: 14px;
			position: relative;
			bottom: 0;
			width: 100%;
			padding-top: 20px;
		}
		
	}
		
	}
		

}//main-image

@media (max-width: $bp-sm) {
	
	#breadcrumbs {
		font-size: 12px;
	}
	

		.main-image {
			height: calc(100vh - 108px) !important;
			max-height: calc(100vh - 108px) !important;

		.main-image-inner {
				height: calc(100vh - 108px) !important;
				max-height: calc(100vh - 108px) !important;
				padding: 0;

				.main-image-inner-content {
					
					.head-24 {font-size: 18px;}
					
					h1, h2, .breadcrumbs {text-shadow: 0 0 0 0 rgba(0,0,0,0) !important;}
			}
		}

		&.small {
			height: 300px;
			max-height: 300px;

			.main-image-inner {
				height: 300px;
				max-height: 300px;
			}

		}

		&.medium {
			height: 300px !important;
			max-height: 300px !important;

			.main-image-inner {
				height: 300px !important;
				max-height: 300px !important;
				padding: 0;
			}
		}

		&.large {
			height: 350px;
			max-height: 350px;

			.main-image-inner {
				height: 350px;
				max-height: 350px;
				padding: 0;
			}
		}
			
		&.destination {
			height: calc(100vh - 218px) !important;
			max-height: calc(100vh - 218px) !important;
		
		.main-image-inner {
			height: calc(100vh - 218px) !important;
			max-height: calc(100vh - 218px) !important;
		}
	
		}

}//main-image

} //bp-sm

} //bp-md

} //bp-lg
	
} //bp-xl