

// Font Variable
$handy: "HandyBold", "Handy", Helvetica, sans-serif;
$main-font: 'Nunito Sans', Helvetica Neue, Helvetica, sans-serif;
$sans-serif: 'Nunito Sans', Helvetica Neue, Helvetica, sans-serif;
$lato: 'Nunito Sans', Helvetica Neue, Helvetica, sans-serif;
$light: 100;
$regular: 400;
$bold: 700;
$heavy: 900;
$shadow: 0 0 10px rgba(0,0,0,0.75);


//Headlines
h1, h2, h3, h4, h5, h6 {
	font-weight: $bold;
	letter-spacing: $tight;
	margin: 0 0 5px 0 !important;
	
	}
	
.head-120 {@include header(120);}
.head-96 {@include header(96);}
.head-88 {@include header(88);}
.head-72 {@include header(72);}
.head-66 {@include header(66);}
.head-60 {@include header(60);}
.head-54 {@include header(54);}
.head-48 {@include header(48);}
.head-42 {@include header(42);}
.head-36 {@include header(36);}
.head-28 {@include header(28);}
.head-24 {@include header(24);}
.head-18 {@include header(18);}

@media screen and (max-width: $bp-lg) {
.head-120 { @include header(120);}
.head-96 { @include header(72);}
.head-88 { @include header(66);}
.head-72 {@include header(60);}
.head-66 {@include header(58);}
.head-60 {@include header(54);}
.head-54 {@include header(46);}
.head-48 {@include header(42);}
.head-42 {@include header(36);}
.head-36 {@include header(30);}
.head-28 {@include header(28);}
.head-24 {@include header(20);}
.head-18 {@include header(18);}

}

@media screen and (max-width: $bp-md) {
.head-120 { @include header(100);}
.head-96 { @include header(72);}
.head-88 { @include header(54);}
.head-72 {@include header(48);}
.head-66 {@include header(44);}
.head-60 {@include header(42);}
.head-54 {@include header(38);}
.head-48 {@include header(36);}
.head-42 {@include header(28);}
.head-36 {@include header(24);}
.head-28 {@include header(24);}
.head-24 {@include header(20);}
.head-18 {@include header(18);}

}

@media screen and (max-width: $bp-sm) {
.head-120 { @include header(60);}
.head-96 { @include header(54);}
.head-88 { @include header(42);}
.head-72 {@include header(38);}
.head-66 {@include header(38);}
.head-60 {@include header(36);}
.head-54 {@include header(32);}
.head-48 {@include header(30);}
.head-42 {@include header(28);}
.head-36 {@include header(26);}
.head-28 {@include header(24);}
.head-24 {@include header(20);}
.head-18 {@include header(16);}
}


	
	
// Labels
.label-12 {@include label(12);}
.label-14 {@include label(14);}
.label-16 {@include label(16);}
.label-18 {@include label(18);}
.label-20 {@include label(20);}
.label-22 {@include label(22);}
.label-24 {@include label(24);}
.label-28 {@include label(28);}



@media screen and (max-width: $bp-lg) {
	
.label-24 {@include label(22);}
.label-28 {@include label(24);}

}

@media screen and (max-width: $bp-md) {
	
.label-16 {@include label(14);}
.label-18 {@include label(16);}
.label-20 {@include label(18);}
.label-22 {@include label(20);}
	
}

@media screen and (max-width: $bp-sm) {

.label-12 {@include label(10);}
.label-14 {@include label(12);}
.label-16 {@include label(14);}
.label-18 {@include label(14);}
.label-20 {@include label(18);}
.label-22 {@include label(18);}
.label-24 {@include label(20);}
.label-28 {@include label(20);}
	
}
