//Image Wrappers

a {
.img-wrap {
	&:hover {
		img {
			transform: scale(1.1);
			margin: 0;
			object-fit: cover;
			transition: all 0.25s ease-in;
			opacity: 0.9;
		} 
	}
}
}

picture {
	position: relative;
	
	img {
		max-width: 100%;	
		} 
}

.img-wrap {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
	background: rgba(0,0,0,0.1);


	img {
		width: 100%;
		height: 100%;
		left: 0;
		z-index: 1;
		position: absolute;
		transform: scale(1);
		object-fit: cover;
		transition: all 0.25s ease-in;
		} 

	
	
	&.square {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;

	}

	&.tall {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 150%;
		overflow: hidden;
		border: 0px solid white;
	}

	&.vertical {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 200%;
		overflow: hidden;
		border: 0px solid white;
	}

	&.full {
		position: relative;
		width: 100%;
		height: auto;
		padding-bottom: 0%;
		overflow: hidden;
		border: 0px solid white;
	}

	&.blog {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;
		border: 0px solid white;
	}
	
	&.no-img {
		background-position: 50% 50%; 
		background-size: auto 100%; 
		background-blend-mode: multiply; 
		
		.no-img-logo {
			width: 100px; 
			height: 100px; 
			position: absolute; 
			top: 40%; 
			left: 50%; 
			margin-top: -50px; 
			margin-left: -50px;
		}
	}
	
	.img-caption {
		position: absolute;
		color: $white;
		z-index: 10;
		right: 30px;
		bottom: 30px;
		font-size: 16px;
		text-shadow: $shadow;
		font-style: italic;

	}


}

//Image Zoom for Links
a {
	.img-wrap {
		&:hover {
			img {
				transform: scale(1.1);
				margin: 0;
				object-fit: cover;
				transition: all 0.25s ease-in;
				opacity: 0.9;
			} 
		}
	}
}


// Responsive Sizing
@media (max-width: $bp-xl) {
	
	/*.listing {
	.img-wrap {
		
			&.square {
				padding-bottom: 50% !important;
			}
		
			&.tall {
				padding-bottom: 100% !important;
			}
		
			&.vertical {
				padding-bottom: 150% !important;
			}
	}
	} */
	

@media (max-width: $bp-lg) {


	@media (max-width: $bp-md) {
	
		
		@media (max-width: $bp-sm) {
		
		/*.listing {	
		.img-wrap {
		
			&.blog, 
			&.vertical, 
			&.square {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 50%;
			overflow: hidden;
			border: 0px solid white;
			}

			&.full {
			position: relative;
			width: 100%;
			height: auto;
			padding-bottom: 0%;
			overflow: hidden;
			border: 0px solid white;

				img {position: relative;}
			} 
	

		}//img-wrap
		} */
		
		
			} //bp-sm

		} //bp-md

	} //bp-lg

}//bp-xl

