// Labels
.label-12 {@include label(12);}
.label-14 {@include label(14);}
.label-16 {@include label(16);}
.label-18 {@include label(18);}
.label-20 {@include label(20);}
.label-22 {@include label(22);}
.label-24 {@include label(24);}
.label-28 {@include label(28);}



@media screen and (max-width: $bp-lg) {
	
.label-24 {@include label(22);}
.label-28 {@include label(24);}

}

@media screen and (max-width: $bp-md) {
	
.label-16 {@include label(14);}
.label-18 {@include label(16);}
.label-20 {@include label(18);}
.label-22 {@include label(20);}
	
}

@media screen and (max-width: $bp-sm) {

.label-12 {@include label(10);}
.label-14 {@include label(12);}
.label-16 {@include label(14);}
.label-18 {@include label(14);}
.label-20 {@include label(18);}
.label-22 {@include label(18);}
.label-24 {@include label(20);}
.label-28 {@include label(20);}
	
}
