//Listing Blocks
.listing {
	position: relative;
	display: block;
	margin-bottom: 40px !important;
	border: 1px solid $light-gray;
	min-height: 450px;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
	
	&.nopic {min-height: 0 !important;}
	
	.text {height: 0; padding-bottom: 100%;}
	
	.icon-holder {
		width: 100%; 
		position: relative; 
		top: -0.5em;
		margin-bottom: -0.5em;
		z-index: 1000;
		text-align: center;
		
		.fa-circle {text-shadow: 0px 3px 6px rgba(0,0,0,0.3);}
	
	}
	
	&.square {
		min-height: 0px;
		margin-bottom: 0px !important;
		box-shadow: 0px 0px 0px rgba(0,0,0,0);
		border: 0px solid $white;
		
		.text {
			height: 100%;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.9) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.9) 100%); 
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.9) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
			text-shadow: 0px 3px 6px rgba(0,0,0,0.3);
			
			.read-more { 
				position: absolute; 
				top: -50px; 
				right: 15px; 
				color: $white;
				@include trans(0.5); 
				
				svg{ 
					text-shadow: $shadow; 
					transform: rotate(-900deg); 
					@include trans(1.5); 
				}
			}
			
			&:hover, 
			&:focus {
				background: rgba($blue, 0.9); background-blend-mode: multiply;
				
				div, a {opacity: 1 !important;}
				
				img {transform: scale(1) !important;}
				
				.read-more { 
					top: 15px; 
					
					svg{ transform: rotate(0deg);}
				}
				
				&.red-hover {background: rgba($red, 0.9) !important;}
				&.stone-hover {background: rgba($stone, 0.9) !important;}
				&.orange-hover {background: rgba($orange, 0.9) !important;}
				&.squash-hover {background: rgba($squash, 0.9) !important;}
				&.foam-hover {background: rgba($foam, 0.9) !important;}
				&.green-hover {background: rgba($green, 0.9) !important;}
				
			}
		}

		.inner {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 15px;
		}


	}
	
	
	.inner{
		padding: 40px 20px 20px 20px;
	
		.details {
			font-size: 12px;
			font-weight: $bold;
			position: relative;
			
			p {margin: 5px 0;}
		}
	}
	
	&.blog {
		min-height: 0px;
		margin-bottom: 20px !important;
		
		.text {height: auto; padding-bottom: 0%;}

	}
	
	.featured-tag {
			  position: absolute;
			  left: 0px; top: 0px;
			  z-index: 4;
			  overflow: hidden;
			  width: 100px; height: 100px;
			  text-align: right;
			  color: #FFF;

			span {
			  font-size: $font-md;
			  font-weight: bold;
			  text-transform: uppercase;
			  text-align: center;
			  padding: 4px 15px;
			  transform: rotate(-45deg);
			  -webkit-transform: rotate(-45deg);
			  width: 200px;
			  display: block;
			  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
			  position: absolute;
			  top: 20px; left: -70px;
			}
	}	
	
	img.ta {
		width: auto !important; 
		height: auto !important; 
		position: relative; 
		padding: 5px; 
		margin: 0;
	}
		
}

//Boxes
.boxes {
	text-align: center;
	height: 0;
	padding-bottom: 100%;
	position: relative;
	font-size: $font-md;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
	
	.text {
			height: 0;
			padding-bottom: 100%;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.9) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.9) 100%); 
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.9) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
			text-shadow: 0px 3px 6px rgba(0,0,0,0.3);
		
			.tag {
				@include header(18);
				@include trans(0.3);
				opacity: 0 !important;
				font-style: italic !important;
				font-weight: 100 !important;
				text-shadow: $shadow;
			}
		
			.lin {
				height: 1px;
				background: $white;
				box-shadow: $shadow;
				width: 0;
				margin: 10px auto;
				@include trans(0.3);
			}
			
			&:hover, 
			&:focus {
				background: rgba($red, 0.75);
				
				div, a {opacity: 1 !important;}
				
				.tag {opacity: 1 !important;}
				
				.lin {width: 80%;}
			}
		}

		.inner {
			position: absolute;
			top: 50%;
			margin-top: -18px;
			width: 100%;
			padding: 15px;
		}

	
	&.large {
		padding-bottom: 50%;
		font-size: $font-lg;
		overflow: hidden;
		
		.absbottom {bottom: 1.25%;}
	}
	
	&.tall {
		padding-bottom: 150%;
		font-size: $font-lg;
		overflow: hidden;
	}
	
	&.small {
		margin-bottom: 0px;
	}
	
}

