
/*Main Nav*/

.header-wrap {
	z-index: 100000;
	margin-bottom: 30px;
	width: 100%;
	margin: $mid;
	height: $nav-height;
	overflow: visible;
	@include transition(0.4);

	&.scroll {
		position: fixed;
		@include transition(0.4);
	}
		#inner-header {
		width: 100%;
		padding: 0;
		margin: 0;
		display: block;
		z-index: 100000;
		height: $nav-height;
		@include transition(0.2);
			
		.col-menu {
				width: 108px; 
				float: left;
		}
			
		.col-search {
				width: 108px; 
				float: left;
		}
			
		.col-logo {
			width: 220px; 
			float: left;
		}
			
		.col-nav {
			width: calc(100% - 436px); 
			float: left;
		}
			
		#menu,
		#search {
			
			&:hover {
				background-color: $darkred;
				color: $orange;
				@include trans(0.2);
				
			}
				
		}
			
		.open-menu,
		.open-search {

			height: $nav-height;
			line-height: $nav-height;
			text-align: center;
			width: 100%;
			
			svg {position: relative; top: 8px; transform: scale(1); @include trans(0.2);}
			
			&:hover {
				background-color: $darkred;
				color: $orange;
				@include trans(0.2);
				
				svg {transform: scale(1.2); @include trans(0.2);}
				
			}
			
		
			
		}
			
		.nav-item {
			height: $nav-height;
			line-height: $nav-height;
			text-align: center;
			border-right: 1px solid $darkred;
			font-size: 20px;
			font-weight: 900;
			text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
			width: 100%;
			background-color: $red;
			@include trans(0.2);
			
			&:hover {
				background-color: $darkred;
				color: $orange;
				
			}
			
			span:hover{ 
					font-size: 24px;
					@include trans(0.2);
				}

		}
		
		.logo-scroll {
			position: fixed;
			top: -108px;
			left: $nav-height;
			margin: 0 auto;
			padding: 20px 0 0 0;
			background: $darkred;
			width: 220px;
			z-index: 1003;
			text-align: center;
			@include trans(0.4);
		}
			

		.logo-main {
			position: absolute;
			top: 0;
			left: $nav-height;
			margin: 0 auto;
			padding: 10px 0 0 0;
			background: $white;
			width: 220px;
			z-index: 1003;
			text-align: center;
			@include trans(0.4);
			
			img {
				margin-bottom: -11px;
				transform: scale(1);
				@include trans(0.2);
				
				&:hover {
					transform: scale(1.05); 
					@include trans(0.2);
				}
			}
			
			&:after{
				background: linear-gradient(-45deg, transparent 16px, $white 0), linear-gradient(45deg, transparent 16px, $white 0);
				background-repeat: repeat-x;
				background-position: left bottom;
				background-size: 22px 32px;
				content: "";
				display: block;
				width: 100%;
				height: 16px;
				position: relative;
				top: 16px;
				left:0px;
			}
			
			
			a{display: block; margin: 0; padding: 0;}
			
		}
			
}
	
} //header-wrap

.header-wrap.no-ribbon #inner-header {
	position: relative;
	
	.logo-main {
				top: -400px;
				@include trans(0.4);
			
			}
	
			.logo-scroll {
				height: $nav-height;
				top: 0;
				@include trans(0.4);
			}
}
	
	
	
	

.header-wrap.scroll #inner-header {
	background-color: $red;
	box-shadow: 0 0px 6px rgba(0,0,0,0.4);
				
			.logo-main {
				top: -400px;
				@include trans(0.4);
			
			}
	
			.logo-scroll {
				height: $nav-height;
				top: 0;
				@include trans(0.4);
			}
			
				
}

#search-menu {
	width: 100%;
	max-width: 328px;
	padding: 0 15px;
	height: 0;
	position: fixed;
	right: 0;
	top: $nav-height;
	z-index: 1000;
	overflow: hidden;
	background-color: $red;
	@include trans(0.5);
	
	.details-wrap {
		width: 220px;
		background-color: $lightgray;
		height: 0;
		position: fixed;
		right: $nav-height;
		top: $nav-height;
		@include trans(0.5);
		color: $black;
		z-index: 1000;
		overflow: hidden;
	}
	
	.vert-menu-details {
		position: fixed;
		right: $nav-height;
		width: 220px;
		text-align: center;
		padding: 15px;
		color: $black !important;
		z-index: 10005;
	}
	
	.vert-menu-wrap {
		right: 0;
	}
	
	&.opener {
		z-index: 1003;
		height: calc(100vh - 108px);
		overflow-y: scroll;
		overflow-x: visible;
		position: fixed;
		@include trans(0.5);
		
		.details-wrap {
			z-index: 3;
			height: calc(100vh - 108px);
			@include trans(0.5);
		}
	}
}


#side-menu {
	width: 100%;
	max-width: $nav-height;
	height: 0;
	position: fixed;
	left: 0;
	top: $nav-height;
	z-index: 1000;
	overflow: hidden;
	background-color: $stone;
	@include trans(0.5);
	
	.details-wrap {
		width: 220px;
		background-color: $lightgray;
		height: 0;
		position: fixed;
		left: $nav-height;
		top: $nav-height;
		@include trans(0.5);
		color: $black;
		z-index: 1000;
		overflow: hidden;
	}

	&.opener {
		z-index: 1003;
		height: calc(100vh - 108px);
		overflow-y: scroll;
		overflow-x: visible;
		position: fixed;
		box-shadow: -2px 5px 5px rgba(0,0,0,0.2);
		@include trans(0.5);
		
		.details-wrap {
			z-index: 3;
			height: calc(100vh - 108px);
			box-shadow: 3px 0px 6px rgba(0,0,0,0.5);
			@include trans(0.5);
		}
		
	}

}

//Vertical Menus
.vert-menu-wrap {
		position: relative;
		height: calc(100vh - 108px);
		width: $nav-height;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-y: hidden;
		overflow-x: visible;
		
		.vert-menu-item {
			height: $nav-height;
			line-height: $nav-height;
			width: 100%;
			color: $white;
			
			svg{position: relative; top: 8px;}
			
			&:hover,
			&:active,
			&:focus {
				background: $darkred;
				
				.vert-menu-details {
					display: block;
				}
				
				svg{color: $orange;}
			}
			
			svg:hover {transform: scale(1.2) !important; @include trans(0.2);}
		}
		
		.vert-menu-details {
			display: none;
			position: fixed;
			left: $nav-height;
			top: $nav-height;
			width: 220px;
			height: calc(100vh - 108px);
			text-align: left;
			padding: 0;
			color: $black !important;
			z-index: 10005;
			
			.vert-menu-label {
				padding: 55px 15px 5px 15px;
				font-size: 24px;
				text-align: left;
				color: $stone;
				line-height: 24px;
				font-weight: $heavy;
				
			}
			
			svg {position: relative; top : 0;}
			
			&.show {display: block;}
			
			ul { 
				list-style: none;
				font-size: 16px;
				margin: 0;
				
					li {
						line-height: 36px; 
						width: 100%; 
						padding: 5px 15px;
						position: relative;
						
						a {font-weight: 300;}
						
						&:hover {
							background: $stone; 
							color: $white;
							
							a {
								color: $white;
								font-weight: 700;
							}
							
							&:after {
								position: absolute;
								top: 15px;
								right: -8px;
								content: '';
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 8px 0 8px 8px;
								border-color: transparent transparent transparent $stone;
							}
						
						}
				
				}
			}
		}
	}

.icon-show {opacity: 0; height: 0;}

#side-menu-overlay, 
#search-menu-overlay {
	width: 100%;
	height: 0;
	z-index: -1 !important;
	background-color: $black;
	top: $nav-height;
	position: fixed;
	@include trans(0.5);

	&.visible {
		z-index: 10 !important;
		opacity: 0.8;
		height: calc(100vh - 108px);
		@include trans(0.5);
	}
}

/* Collapses Nav when below Desktop Size */

@media screen and (max-width: $bp-xl) {

.header-wrap {

		#inner-header {
			
		.nav-item {
				font-size: 18px;
				
				span:hover{ 
					font-size: 20px;
					@include trans(0.2);
				}

			}
	}
}


@media screen and (max-width: $bp-lg) {

.icon-show {opacity: 1; height: auto;}
	
.header-wrap {

		#inner-header {
			
		.logo-main, .logo-scroll {
			left: 50%;
			margin-left: -110px;
		}
			
		.col-menu {
				width: 108px; 
				float: left;
		}
			
		.col-search {
				width: 108px; 
				float: right;
		}
			
		.col-logo {
			width: calc(100% - 216px);  
			float: left;
		}
			
		.col-nav {
			display: none;
		}
	}
}
	
@media screen and (max-width: $bp-md) {
	
.header-wrap {
	height: 68px;

		#inner-header {
		height: 68px;
			
		.col-menu {
				width: 68px; 
		}
			
		.col-search {
				width: 68px; 
				float: right;
		}
			
		.col-logo {
			width: calc(100% - 136px); 
			float: left;
		}
			
		.open-menu,
		.open-search {

			height: 68px; 
			line-height: 68px; 
			
			svg {position: relative; top: 8px; transform: scale(1); @include trans(0.2);}
	
		}
			
		.nav-item {
			height: 68px;
			line-height: 68px;
		}
		
		.logo-main, 
		.logo-scroll {
			padding-top: 10px;
			left: 50%;
			margin-left: -75px !important;
			width: 150px;
			height: 68px !important;
			
			img {
				width: 120px;
			}
		}
			

		.logo-main {
			
			&:after{
				background: linear-gradient(-45deg, transparent 10px, $white 0), linear-gradient(45deg, transparent 10px, $white 0) !important;
				background-repeat: repeat-x;
				background-position: left bottom;
				background-size: 10px 22px !important;
				content: "";
				display: block;
				width: 100%;
				height: 22px;
				position: relative;
				top: 6px;
				left:0px;
			}
			
		}
			
}
	
}
	
#search-menu {
	width: 100%;
	max-width: 100%;
	top: 68px;
	
	.details-wrap {
		width: calc(100% - 68px);
		right: 68px;
		top: 68px;
	}
	
	.vert-menu-details {
		position: fixed;
		right: 68px;
		width: calc(100% - 68px);
	}
	
	&.opener {
		height: calc(100vh - 68px);
		
		.details-wrap {
			height: calc(100vh - 68px);
		}
	}
}


#side-menu {
	width: 100%;
	max-width: 100%;
	top: 68px;
	
	.details-wrap {
		width: calc(100% - 68px);
		left: 68px;
		top: 68px
	}

	&.opener {
		width: calc(100% - 68px);
		
		.details-wrap {
			width: calc(100% - 68px);
		}
		
	}

}

//Vertical Menus
.vert-menu-wrap {
		width: 68px;
		height: calc(100vh - 68px);
		
		.vert-menu-item {
			height: 68px;
			line-height: 68px;
			
			svg{ font-size: 24px; position: relative; top: 8px;}
			
		
		.vert-menu-details {
		
			left: 68px;
			top: 68px;
			width: calc(100% - 68px);
			height: calc(100vh - 108px);
			
		}
	}


#side-menu-overlay, 
#search-menu-overlay {
	top: 68px;

	&.visible {
		height: calc(100vh - 68px);
	}
}
	
}
	

} //bp-md

} //bp-lg
	
} //bp-xl