//Pagination
.pagination-wrap {
		width: 100%;
		text-align: center;

.pager {
	margin: -20px auto 0 auto;
	width: 100%;
	height: 48px;
	
	.prev, .next {
		background-color: $orange !important;
		color: $white !important;
		
		svg {
			top: -2px;
			position: relative;
		}

		&:hover {
			background-color: $red;
		}
		
	}
	
	.page-numbers {
		font-family: $handy;
		font-size: 24px;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		display: inline-block;
		
		&.current {
			background-color: $red;
			color: $white !important;
		}
		
		&:hover {
			
		}
	}
	
}
	
}