//Search

header {
	
#search-wrap {
	
	input[type="search"] {
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0px;
		box-sizing: border-box;
		max-width: 100% !important;
		font-style: italic !important;
		font-weight: 100 !important;
		
	}
	
	button {
		width: 100%;
		background-color: transparent;
		border: 2px solid $white !important;
		color: $white;
		@include button(18);
		
		&:hover {background-color: darken($stone, 5%);}
		
		&:after { clear: both;}
	}
}
	
}

footer {
	
#search-wrap {
	margin-top: 20px;
	
	input[type="search"] {
		width: calc(100% - 130px);
		float: left;
		margin-bottom: 0px;
		margin-right: 10px;
		box-sizing: border-box;
		max-width: 100% !important;
		
	}
	
	button {
		width: 120px;
		float: right;
		background-color: $green;
		color: $white;
		@include button(18);
		
		&:hover {background-color: darken($green, 5%);}
		
		&:after { clear: both;}
		
	}
}
	
}
