// Basic Section Style
section {
	padding: 30px 0;
	margin: $mid;
	clear: both;
	width: 100%;
	height: auto;
	max-width: $bp-xl;
	position: relative;

	&.full {
		max-width: 100%;
	
	}
	
	aside {
		width: 328px;
		float: left;
	}
	
	.box {
		background: $white;
		position: relative;
		padding: 30px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.4);
	}

	.inner {
		width: 100%;
		max-width: $bp-xl;
		margin: $mid;
		
		&.wsidebar {
			max-width: calc(100% - 328px);
			float: left;
			padding: 30px !important;
			
			.grid {
				margin: 0 -30px;
				width: calc(100% + 60px);
			}
		}
		
		&.page-inner {
			padding: 60px 30px;
			box-shadow: $shadow;
			background-color: $white;
		}

		&.wide {
			max-width: 100%;
		}

		&.narrow {
			max-width: $bp-md;
		}
		
		.intro {
			text-align: center;
			margin-bottom: 15px;
		}
	}
	
	.section-intro {
		font-size: 18px;
		line-height: 24px;
		font-style: italics;
		color: $white;
	}

}

@media (max-width: $bp-xl){
	
section {
	
	aside {
		width: 258px;
		float: left;
	}

	.inner {
		
		&.wsidebar {
			max-width: calc(100% - 258px);
		}
		
		&.page-inner {
			padding: 50px 25px;
		}
	}
}

@media (max-width: $bp-lg){
section {
	padding: 30px 15px !important;
	
	
	aside {
		width: 208px;
		float: left;
	}

	.inner {
		
		&.wsidebar {
			max-width: calc(100% - 208px);
			
		}
		
		&.page-inner {
			padding: 40px 20px;
		}
	}
	
	&.full {padding: 30px 0 !important;}

	&.nopadding {
		padding: 0px 15px !important;

		&.full {padding: 0 !important;}
	}
}
	

	
@media (max-width: $bp-md){
section {
	
	aside {
		width: 100%;
		float: left;
	}

	.inner {
		
		&.wsidebar {
			max-width: 100%;
		}
		
		&.page-inner {
			padding: 40px 15px;
			box-shadow: 0 0 0 rgba(0,0,0,0);
			width: 100%;
		}
	}
	
}
	
} //bp-md
	
} //bp-lg
	
} //bp-xl