//Sidebar


#sidebar, aside {
	margin-top: 0 !important;
	overflow-x: hidden;
	
	.widget{
	
	.widgettitle {
		display: none;
	}
	
	ul {margin: 0;}
	
	.cat-item, 
	.menu-item {
		font-size: 14px !important;
		line-height: 14px !important;
		margin: 0 0 8px 0 !important;
		@include trans(0.2);
		color: $white !important;
		
		&:hover {
			color: $orange;
			padding-left: 15px; 
			border-left: 6px solid $orange;
			@include trans(0.2);
			
			a { 
				color: $orange !important;
			}
			
		}
		
		a { 
			color: $white !important;
			text-transform: none; 
		}
		
	}
	
	}
		
	.widget_archive li {
		font-size: 14px !important;
		line-height: 14px !important;
		margin: 0 0 8px 0 !important;
		@include trans(0.2);
		color: $white !important;
		
		&:hover {
			color: $orange;
			padding-left: 15px; 
			border-left: 6px solid $orange;
			@include trans(0.2);
			
			a { 
				color: $orange !important;
			}
			
		}
		
		a { 
			color: $white !important;
			text-transform: none; 
		}
		
	}
	
	input[type="text"], input[type="search"] {
			width: 100%;
			font-size: 16px;
			box-sizing: border-box;
			max-width: 100% !important;
			background-color: transparent;
			color: $white;
			font-style: italic;
			font-weight: 100;
			border: 2px solid $white;
		
			@include placeholder {
				color: $white !important;
			}
		
			&:focus {
				color: $red;
				background-color: $white !important;
				
				@include placeholder {
					color: $red !important;
				}
			}

	}
	
	.search-submit {
		@include button(18);
		background-color: $orange;
		color: $white;
		width: 100%;
	}
	
	select {
		width: 100%;
		font-size: 16px;
		box-sizing: border-box;
		max-width: 100% !important;
		background-color: transparent;
		color: $white;
		font-style: italic;
		font-weight: 100;
		border: 2px solid $white;
		
		@include placeholder {
				color: $white !important;
		}
		
		&:focus {
				color: $red;
				
				@include placeholder {
					color: $red !important;
				}
			}
		
		background-image: none !important;
	}

	
	.widget_search {
		border-radius: 0;
		margin-bottom: 30px !important;

		input[type="search"] {
			width: 100%;
			font-size: 16px;
			box-sizing: border-box;
			max-width: 100% !important;
			background-color: transparent;
			color: $white;
			font-style: italic;
			font-weight: 100;
			border: 2px solid $white;
			
			@include placeholder {
				color: $white !important;
			}
			
			&:focus {
				color: $red;
				
				@include placeholder {
					color: $red !important;
				}
			}


		}


		button {
			background-color: $orange;
			color: $white;
			width: 100%;
			
		}
	}
		
	
}

.sidebar-section {
	margin-top: 20px;
	
	p, li, .cf div {margin: 10px 0;}
}

.sidebar-label {
	background-color: $red;
	color: $white;
	text-transform: uppercase;
	padding: 10px 30px;
	font-weight: 900;
	margin: 0 -30px 15px -30px;
	width: calc(100% + 60px);
}

.sidebar-sub-label {
	font-weight: $bold;
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 20px;
}

footer {
	
	.widget_nav_menu {
	
	.widgettitle{
		display: none;
		}
		
		.menu-item-has-children a {
			font-weight: $heavy !important;
			text-transform: uppercase;
			font-size: 18px;
		}
		
		.sub-menu {
			
			padding: 0;
			
			li a {
				font-size: 14px;
				font-weight: 300 !important;
				text-transform: none !important;
			}
		}
}
	
}

@media only screen and (min-width: $bp-md ) {
	.widget{
		padding: 0 !important;
	}
}
