.video-wrap {
	 width: 100%;
	 float: left;
	 position: relative;
	 padding-bottom: 56.25%;
	 padding-top: 20px;
	 height: 0;

 	iframe {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
		  }
 }