@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?s9ck3s');
    src:    url('fonts/icomoon.eot?s9ck3s#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?s9ck3s') format('truetype'),
        url('fonts/icomoon.woff?s9ck3s') format('woff'),
        url('fonts/icomoon.svg?s9ck3s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
    content: "\e900";
}
.icon-arrow_right:before {
    content: "\e901";
}
.icon-REGIONS-state-SW:before {
    content: "\e60a";
}
.icon-REGIONS-state-SE:before {
    content: "\e60b";
}
.icon-REGIONS-state-NW:before {
    content: "\e60c";
}
.icon-REGIONS-state-NE:before {
    content: "\e60d";
}
.icon-REGIONS-state-CENTRAL:before {
    content: "\e60e";
}
.icon-REGIONS-state-AMISH:before {
    content: "\e60f";
}
.icon-regions:before {
    content: "\e607";
}
.icon-controller-stop:before {
    content: "\e617";
}
.icon-cross:before {
    content: "\e619";
}
.icon-flickr-with-circle:before {
    content: "\e610";
}
.icon-github-with-circle:before {
    content: "\e611";
}
.icon-instagram-with-circle2:before {
    content: "\e612";
}
.icon-lastfm-with-circle:before {
    content: "\e613";
}
.icon-linkedin-with-circle:before {
    content: "\e614";
}
.icon-stumbleupon-with-circle:before {
    content: "\e615";
}
.icon-vimeo-with-circle:before {
    content: "\e616";
}
.icon-menu:before {
    content: "\e606";
}
.icon-chevron-thin-right:before {
    content: "\e608";
}
.icon-chevron-thin-left:before {
    content: "\e609";
}
.icon-youtube-with-circle:before {
    content: "\e605";
}
.icon-instagram-with-circle:before {
    content: "\e604";
}
.icon-google-with-circle:before {
    content: "\e600";
}
.icon-pinterest-with-circle:before {
    content: "\e601";
}
.icon-facebook-with-circle:before {
    content: "\e602";
}
.icon-twitter-with-circle:before {
    content: "\e603";
}
.icon-fullscreen:before {
    content: "\e618";
}
.icon-checkbox-checked:before {
    content: "\ea52";
}
.icon-checkbox-unchecked:before {
    content: "\ea53";
}
.icon-radio-checked2:before {
    content: "\ea55";
}
.icon-radio-unchecked:before {
    content: "\ea56";
}
.icon-twitter3:before {
    content: "\ea93";
}
.icon-angle-double-left:before {
    content: "\f100";
}
.icon-angle-double-right:before {
    content: "\f101";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}

