//Set Fonts
.ajde_evcal_calendar {
	font-family: $main-font !important;
}

//Remove Border
#evcal_list {
	border: 0px solid white !important;
	border-radius: 0px !important;
}

//Single-Events
.single-ajde_events {
	
	.evo_page_body {
		width: 100% !important;
		max-width: 100% !important;
		
		.hentry {border: 0px solid white !important;}
		
		.eventon_main_section {
			padding: 0;
		}
		
		.calendar_header {
			margin: 0 !important;
			display: none;
		}
		
		//Month Label
		#evcal_head.calendar_header #evcal_cur {
			display: none;
		}
		
		.evose_repeat_header {
		
		span.title {
			text-align: center; 
			background-color: $gold; 
			font-weight: 900 !important; 
			color: $white;
		}
			
		span.ri_nav {
			background-color: $darkgold; 
			font-weight: 900 !important; 
			color: $white;
			padding: 0;
			min-height: 0;
		}
		
		}
		
		.eventon_list_event {
			border-radius: 0 !important;
			border: 0px solid white !important;
			
			
			.evo_above_title{
				position: absolute;
				bottom: -29px !important;
				z-index: 100000;
				right: 0px;
				
				span.featured {
					border-radius: 0px !important;
					margin: 0 !important;
					padding: 5px 10px !important;
					font-weight: 900 !important;
					background-color: $gold;
					display: block !important;
					opacity: 1 !important;

				}
			}
			
			
			.evcal_cblock {
						background-color: $red !important; 
						width: 75px; 
						height: 150px; 
						padding: 20px 0 !important;
						text-align: center !important;
						font-weight: 900 !important;
						bottom: -150px;
						z-index: 100000;
						left: 0px !important;

						.evo_start, .evo_end{
							float: none;
							font-size: 30px;
							padding-left: 0;
						}
						
						.evo_end{
							top: -35px;
							position: relative;
						}
						
						.evo_end:before {
							content: 'to';
							white-space: pre;
							display: block;
							clear: both;
							position: relative;
							top: 10px;
							background-color: transparent;
							width: 100%;
							height: auto;
							font-size: 12px;
							font-weight: 100;
							
						}
						
						.year {
							font-size: 14px;
							color: $orange;
						}
						
						.month {
							font-size: 18px;
							color: $white;
							position: relative;
							top: -15px;
						}
					}	
			
			
			.evcal_list_a {
				border-left-width: 0px !important;
				border-color: transparent!important;
				
				&:after {background-color: transparent !important;}
			}
			
			.desc_trig {
				background-color: $white !important;
				background-image: url('/wordpress/wp-content/themes/ohio-bones/library/images/texture-light.png');
				padding: 30px 30px 15px 30px;
				overflow: visible !important;
			}
			
			
			
				.evcal_desc {
				padding: 0 !important;
					
				.evcal_desc_info {
					@include header(24);
					font-weight: 100 !important;
					font-style: normal !important;
					color: $red !important;
					text-align: center;
					
					em {font-style: normal !important; color: $red !important;}
					em::before {position: relative !important; padding-right: 10px;}
				}
					
					.evcal_desc3, .evcal_desc3 em, .evcal_desc3 i {
						font-size: 14px !important;
						color: $black !important;
						text-align: center;
					}

				.evcal_event_title {
					@include header(72);
					color: $black !important;
					font-family: $handy;
					text-align: center;
					text-transform: none;
				}
						
				}	
			
			.evcal_eventcard, .tbrow, .dark1 {
					background-color: $white !important;
					background-image: url('/wordpress/wp-content/themes/ohio-bones/library/images/texture-light.png') !important;
					border: 0px solid white !important;
				}
			
			.bordr {border: 0px solid white !important;}
			
			.event_description {
				
				h3.evo_h3 {
					@include header(42);
					font-family: $handy;
					color: $black !important;
					text-transform: lowercase !important;
				}
				
				p {
					font-size: 18px !important;
					font-family: $main-font !important;
					font-weight: $light !important;
					color: $black !important;
					line-height: 22px !important;
					padding: 0 !important;
					margin: 0 !important;
				}
				
				.evo_metarow_directimg {
					position: relative;
					width: 100%;
					height: 0;
					padding-bottom: 50%;
					overflow: hidden;
					background: rgba(0,0,0,0.1);


					img {
						width: 100%;
						height: 100%;
						left: 0;
						z-index: 1;
						position: absolute;
						transform: scale(1);
						object-fit: cover;
						transition: all 0.25s ease-in;
						} 
				}
				
				.evcal_evdata_row {
					margin: 60px 30px 30px 30px;
					background: $white;
					position: relative;
					padding: 30px;
					box-shadow: 0 3px 6px rgba(0,0,0,0.4);
					border: 0px solid white !important;
					color: $black !important;
					
					.evcal_evdata_icons {
						top: -30px;
						left: 50%;
						margin-left: -30px;
						width: 60px;
						height:60px;
						box-shadow: $shadow;
						border-radius: 50%;
						background-color: $gray;
						
						svg {font-size: 30px !important; width: 30px; text-align: center; color: $white; margin-top: 15px; margin-left: 15px;}
					}
				}
				
				.evcal_evdata_cell.shorter_desc {
					height: auto !important;
				}
				
				.eventon_details_shading_bot, .eventon_shad_p {
					display: none;
				}
				
				
			}
			
		} //eventon-list-event
		
		#eventon_comments {
					display: none !important;
				}

	} //evo-page-body
	
} //single-ajde_events



//List of Events
#event-list {
			
	.ajde_evcal_calendar {
		
		.evo_search_bar {display: none;} 
		
		.evo_cal_above {padding: 0;}
		
		.calendar_header {margin: 0 !important; padding: 0 !important;}
		
		.evo_cal_other_header {
			font-family: $handy !important;
			text-transform: capitalize !important;
			text-shadow: 1px 1px 0px rgba(0,0,0,.1);
			color: $white !important;
			background-color: $red !important;
			text-align: center;
			font-size: 54px;
			line-height: 54px;
			letter-spacing: -2px;
			margin: 0px auto !important;
			padding: 30px !important;
			width: 100% !important;
			float: none !important;

		}
		
		#eventon_loadbar_section {
			margin-top: 0 !important;
		}
		
		.eventon_sorting_section {
			margin: 0 !important;
			border: 0px solid white !important;
		}
		
		.eventon_sf_field {
			float: none;
		}
		
		.eventon_filter_line .eventon_sf_field p {
			color: $white !important;
			width: 75px;
			position: absolute;
			left: 20px; top: 24px;
			font-weight: $heavy !important;
			font-size: 12px !important;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
		}

		.eventon_events_list {
			border: 0px solid white !important;
	
			.eventon_list_event {
				border-right: 0px solid $lightgray !important;
				border-bottom: 1px solid $lightgray !important;
				width: 50%;
				float: left;
				min-height: 150px;
				overflow-y: hidden !important;
				overflow-x: visible !important;
				
				&:hover .evcal_list_a {
						background-color: lighten($stone, 65%) !important;
					}
				
				p.no_events { 
					font-size: 36px; 
					font-weight: 100; 
					border-left: 0px solid white !important;
					border-bottom: 0px solid white !important; 
					font-style: normal;
					width: 100vw !important;
					padding: 50px 0 10px 0;
					text-align: center;
				}

				.ev_ftImg {
					width: 150px;
					height: 150px;
					max-height: 150px !important;
					border-radius: 0px;
					margin-left: -20px;
					margin-top: -20px;
				}

				.evcal_list_a {
					background-color: $white !important;
					color: $black !important;
					padding: 20px 20px 0 95px !important;
					min-height: 150px;
					max-height: 150px !important;
					overflow: hidden !important;
					border-left-width: 0 !important;
					
					
					&:after {
						height: 0; display: none;
					}
					
					.evcal_desc {
						padding-left: 150px !important;
						
						span.evo_above_title span.featured {
							border-radius: 0px !important;
							margin: 0 !important;
							padding: 5px 10px !important;
							font-weight: 900 !important;
							
						}
					}

					.evcal_cblock {
						background-color: $red !important; 
						width: 75px; 
						height: 150px; 
						margin: -20px 0 0 0;
						padding: 20px 0 !important;
						text-align: center !important;
						font-weight: 900 !important;
						left: 0 !important;

						.evo_start, .evo_end{
							float: none;
							font-size: 30px;
							padding-left: 0;
						}
						
						.evo_end{
							top: -35px;
							position: relative;
						}
						
						.evo_end:before {
							content: 'to';
							white-space: pre;
							display: block;
							clear: both;
							position: relative;
							top: 10px;
							background-color: transparent;
							width: 100%;
							height: auto;
							font-size: 12px;
							font-weight: 100;
							
						}
						
						.year {
							font-size: 14px;
							color: $orange;
						}
						
						.month {
							font-size: 18px;
							color: $white;
							position: relative;
							top: -15px;
						}
					}
					
					

					.evo_above_title {
						position: absolute; 
						bottom: 0px; 
						right: 0px;
					}

					.evcal_event_title{
						font-size: 28px;
						line-height: 28px; 
						color: $black !important;
						font-weight: 900;
						text-transform: capitalize !important;
					}

					.evcal_event_subtitle {
						@include header(18);
						color: $orange !important;
						font-weight: 100 !important;
						text-transform: capitalize !important;
					}

					.evcal_desc_info, .evcal_desc_info em {
						color: $red !important;
					}
				}

			} //eventon_list_event

		} //eventon_events_list

	} //adje_evcal_calendar
	
} //event-list
				

//Monthly Calendar View
#event-calendar {
			
	.ajde_evcal_calendar {
		
		.eventon_fullcal {
			background: $white;
			padding: 0;
			
			p {color: $stone;}
			
			.evo_fc_day {
				height: 100px; 
				opacity: 1 !important;
				
				&.has_events span b {font-size: 10px !important; color: $black !important;}
				&.has_events span i {width: 10px; height: 10px; position: absolute; bottom: -10px; left: 50%; margin: 0 0 0 -5px !important; background-color: $stone !important;}
				
				&.on_focus {
					border-top: 4px solid $squash;
					background-color: $gold !important;
					color: $white;
					
					&.has_events span i { background-color: $squash !important;}
					
					&.today {
						background-color: $gold !important;
						color: $white;
					}
				}
				
				&.today:before {
					background-color: $squash;
				}
			}
			
			.eventon_fc_daynames {
				
				.evo_fc_day {
					height: 50px; 
					background-color: $stone; 
					color: white;
					padding: 18px 0;
					
					
				}
				
			}
		
		}
		
		.evo_loading .evo_month_title { width: 50% !important; }
		
		.evo_search_bar {display: none;} 
		
		.evo_cal_above {
			padding: 0; 
			display: block; 
			z-index: 10; 
			width: 50%;
			min-height: 90px;
			float: right;
			background-color: $red;
			position: relative; 
			
			span {opacity: 1;}
			
			.evo-jumper-btn, .evo-gototoday-btn{
				text-align: center;
				margin-right: 0px;
				line-height: 90px;
				border-left: 1px solid $darkred;
				padding: 0 30px;
				font-size: 20px;
				font-weight: 900;
				text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
				width: 50%;
				float: left;
				text-transform: none;
				background-color: transparent;
				@include trans(0.2);
			
				&:hover {
					color: $orange;
					font-size: 24px;

				}
				
			}
			
			.evo-jumper-btn:after {
					content: '⌄';
				}
			
			.evo-gototoday-btn:before {
					content: '‹';
				}
		
		}
		
		.evo_cal_above_content {
			padding: 0; 
			display: block; 
			z-index: 10;
			width: 50%;
			right: 0;
			top: 90px;
			float: right;
			position: absolute; 
			background-color: $darkred; 
			
			.evo_j_container {
				padding: 0px !important;
				clear: both !important;
				
				.evo_j_months{
					width: 100%;
					margin: 0;
					border-top: 1px solid $red;
					
					&:before {
						//content: 'Months';
						font-weight: 900;
						color: $orange;
						padding: 5px;
						text-transform: uppercase;
						display: block;
						white-space: pre;
					}
					
					.legend a {
						background-color: transparent;
						width: 25% !important;
						text-transform: capitalize !important;
						color: $white !important;
						margin: 0 !important;
						line-height: 24px;
						font-size: 14px;
						border-bottom: 1px solid $red;
						border-radius: 0px;
						
						&:hover {
							background-color: $red !important;
						}
					}
				}
				
				.evo_j_years{
					width: 100%;
					margin: 0;
					
					&:before {
						//content: 'Years';
						font-weight: 900;
						color: $orange;
						padding: 5px;
						text-transform: uppercase;
						display: block;
						white-space: pre;
					}
					
					.legend {width: 100%;}
					
					.legend a {
						background-color: transparent;
						width: 20% !important;
						text-transform: capitalize !important;
						color: $white !important;
						margin: 0 !important;
						line-height: 24px;
						font-size: 14px;
						border-bottom: 1px solid $red;
						border-radius: 0px;
						
						&:hover {
							background-color: $red !important;
						}
					}
				}
				
				
			}
		}
		
		.calendar_header {
			text-align: center !important;
			position: relative;
			background-color: $red;
			min-height: 90px;
			color: $white;
			padding: 0px;
			margin: 0 !important;
			
		
			.evo_month_title {
				font-family: $handy !important;
				@include header(54);
				padding: 20px;
				width: 50% !important;
				height: 90px !important;
				float: left;
				color: $white !important;
				text-transform: lowercase !important;
			}

			.evo_arrows {
				position: absolute;
				display: block;
				height: 48px;
				width: 50%;
				padding: 0 20px;
				top: 20px;

				.evcal_arrows {
					color: $white !important;
					border-color: $orange !important;
					background-color: $orange !important;
					height: 48px;
					width: 48px;
					line-height: 48px;
					text-align: center;
					font-size: 36px !important;
					box-shadow: 0 3px 6px rgba(0,0,0,0.4);

					.fas, svg {font-size: 36px;}
				}
				
				#evcal_next { position: absolute; right: 20px;}
				#evcal_prev { margin-left: 0 !important; position:: absolute; left: 20px;}
			}

		}//calendar_header
		
		#eventon_loadbar_section {
			margin-top: 0 !important;
		}
		
		.eventon_sorting_section {
			margin: 0 !important;
			border: 0px solid white !important;
		}
		
		.eventon_sf_field {
			float: none;
		}
		
		.eventon_filter_line .eventon_sf_field p {
			color: $white !important;
			width: 75px;
			float: left;
			text-align: center;
			font-weight: $heavy !important;
			font-size: 12px !important;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
		}

		.eventon_events_list {
			border: 0px solid white !important;
			border-top: 1px solid $lightgray !important;
			height: 550px !important;
			overflow: scroll;
	
			.eventon_list_event {
				border-right: 0px solid $lightgray !important;
				border-bottom: 1px solid $lightgray !important;
				width: 100%;
				float: left;
				min-height: 150px;
				overflow: hidden !important;
				
				p.no_events { 
					font-size: 28px; 
					font-weight: 100; 
					border-left: 0px solid white !important;
					border-bottom: 0px solid white !important; 
					font-style: normal; 
					padding: 50px 0 10px 0;
					text-align: center;
				}
				
				&:hover .evcal_list_a {
						background-color: lighten($stone, 65%) !important;
					}

				.ev_ftImg {
					width: 150px;
					height: 150px;
					max-height: 150px !important;
					border-radius: 0px;
					margin-left: -20px;
					margin-top: -20px;
				}

				.evcal_list_a {
					background-color: $white !important;
					color: $black !important;
					padding: 20px 20px 0 95px !important;
					min-height: 150px;
					max-height: 150px !important;
					overflow: hidden !important;
					border-left-width: 0 !important;
					
					
					&:after {
						height: 0; display: none;
					}
					
					.evcal_desc {
						padding-left: 150px !important;
						
						span.evo_above_title span.featured {
							border-radius: 0px !important;
							margin: 0 !important;
							padding: 5px 10px !important;
							font-weight: 900 !important;
							
						}
					}

					.evcal_cblock {
						background-color: $red !important; 
						width: 75px; 
						height: 150px; 
						margin: -20px 0 0 0;
						padding: 20px 0 !important;
						text-align: center !important;
						font-weight: 900 !important;
						left: 0 !important;

						.evo_start, .evo_end{
							float: none;
							font-size: 30px;
							padding-left: 0;
						}
						
						.evo_end{
							top: -35px;
							position: relative;
						}
						
						.evo_end:before {
							content: 'to';
							white-space: pre;
							display: block;
							clear: both;
							position: relative;
							top: 10px;
							background-color: transparent;
							width: 100%;
							height: auto;
							font-size: 12px;
							font-weight: 100;
							
						}
						
						.year {
							font-size: 14px;
							color: $orange;
						}
						
						.month {
							font-size: 18px;
							color: $white;
							position: relative;
							top: -15px;
						}
					}
					
					

					.evo_above_title {
						position: absolute; 
						bottom: 0px; 
						right: 0px;
					}

					.evcal_event_title{
						font-size: 28px;
						line-height: 28px; 
						color: $black !important;
						font-weight: 900;
						text-transform: capitalize !important;
					}

					.evcal_event_subtitle {
						@include header(18);
						color: $orange !important;
						font-weight: 100 !important;
						text-transform: capitalize !important;
					}

					.evcal_desc_info, .evcal_desc_info em {
						color: $red !important;
					}
				}

			} //eventon_list_event

		} //eventon_events_list

	} //adje_evcal_calendar
	
} //event-list
				
			
#event-grid {
			
	.ajde_evcal_calendar {
		
		.calendar_header {
			text-align: center !important;
			position: relative;
			min-height: 165px !important;
			background-color: $red;
			color: $white;
			padding: 30px;
			margin: 0 !important;
			
		
			.evo_month_title {
				font-family: $handy !important;
				@include header(54);
				width: 100%;
				color: $white !important;
				text-transform: lowercase !important;
				top: 20px;
				position: absolute;

			}

			.evo_search_bar {
				position: absolute;
				bottom: 20px;
				left: 50%;
				margin-left: -160px;
				width: 320px;
				z-index: 4;
				overflow: visible;

				input[type="text"] {
					width: 100%;
					font-size: 16px;
					box-sizing: border-box;
					max-width: 100% !important;
					background-color: transparent;
					color: $white;
					font-style: italic;
					font-weight: 100;
					border: 2px solid $white;

					@include placeholder {
						color: $white !important;
					}

					&:focus {
						color: $red;
						background-color: $white;

						@include placeholder {
							color: $red !important;
						}
					}
			}

				.evosr_search_btn {
					color: $darkred !important;
					top: 12px;
					right: 12px;
				}

			} 

			.evo_arrows {
				position: absolute;
				width: 100%;
				top: 0;

				.evcal_arrows {
					color: $white !important;
					border-color: $orange !important;
					background-color: $orange !important;
					height: 60px;
					width: 60px;
					line-height: 60px;
					text-align: center;
					font-size: 48px !important;
					box-shadow: 0 3px 6px rgba(0,0,0,0.4);

					svg {font-size: 48px;}
				}

				#evcal_next {
					position: absolute;
					top: 50px;
					right: 20px;
				}

				#evcal_prev {
					position: absolute;
					top: 50px;
					left: 20px;
				}
			}

		}//calendar_header

		.eventon_events_list {

			.eventon_list_event {
					min-height: 20vw !important;

				.evcal_desc {

					.evcal_event_title {
						font-family: $handy !important;
						text-transform: capitalize !important;
						@include header(28);
						font-size: 28px !important;
						letter-spacing: -2px;
						text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
						position: absolute;
						bottom: 24px;
					}

					.evcal_desc_info {
						font-size: 14px !important;
						font-weight: $bold !important;
						position: absolute;
						bottom: 0;

						em{font-weight: $bold !important; font-style: normal !important;}
					}

				} //evcal_desc

			} //eventon_list_event

		} //eventon_events_list

	} //adje_evcal_calendar
	
} //event-grid
	

//Calendar Header
	
	#eventon_loadbar_section {margin-top: 0;}
	
	.evo_sort_btn {display: none !important;}
	
	//Filter Dropdowns
	.eventon_filter_dropdown {
		border: 0px solid white;
		padding: 10px 20px;
		color: $black;
		border-radius: 0px;
		margin-top: 0px;
		text-transform: none;
		box-shadow: 0 3px 6px rgba(0,0,0,0.5);
		min-width: 200px;
		
		p {
			font-size: 14px;
			text-transform: none;
			color: $black;
			font-weight: $bold;
			border-left: 0px solid white;
			border-bottom: 0px solid white;
			line-height: 24px;
			
			&:hover, &:active {
				color: $red;
				background-color: $white;
				border-left: 0px solid white;
				border-bottom: 0px solid white;
			}
		}
	}
	
	//Filters
	.eventon_filter_line.selecttype .eventon_filter {
			margin: 0 !important;
		}
	
	.eventon_sorting_section {
		padding: 0;
		background-color: $stone;
		color: $white;
		margin: 0;
		border-top: 0px solid white;
		border-bottom: 0px solid white;
		
		&::before {
			display: block;
			float: left;
			content: 'Filter By:';
			font-size: 18px;
			font-weight: $heavy;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			padding: 22px 30px;
			border-right: 1px solid $darkstone;
			width: 15%;
			text-align: center;
		}
	
		
		.eventon_sort_line {
			  display: none;
		}
		
		.eventon_filter_line{
			border-left: 0px solid white !important; 
			padding: 0 !important;
			width: 85%;
			
		}
		
		.eventon_filter {
			width: 25%;
		}
		
		.eventon_filter_selection {
			width: 100%;
		}
		
		.eventon_sort_line .eventon_sortval_for_dropdown, 
		.eventon_filter_line .filtering_set_val {
			
			background: transparent !important;
			font-size: 18px;
			font-weight: $heavy;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			font-style: normal !important;
			text-transform: none !important;
			padding: 20px 30px;
			border-right: 1px solid $darkstone;
			text-align: center;
			
		}
		
		 p.evo_filter_submit {
			width: calc(24% - 12px);
			@include button(16);
			background-color: $red;
			text-align: center;
			text-transform: none !important;
			margin-top: 12px;
			margin-left: 12px;
			
			&:hover {background-color: $darkred !important;}
		}
		
	}
		

@media (max-width: $bp-xl) {
	
	
//List of Events
#event-list {
			
	.ajde_evcal_calendar {
		
		.evo_cal_other_header {
			font-size: 48px;
			line-height: 48px;
		}

		.eventon_events_list {
	
			.eventon_list_event {

					.evcal_event_title{
						font-size: 24px !important;
						line-height: 24px !important; 
					}

					.evcal_event_subtitle {
						font-size: 18px !important;
						line-height: 18px !important;
					}

			} //eventon_list_event

		} //eventon_events_list

	} //adje_evcal_calendar
	
} //event-list
	
		.ajde_evcal_calendar {
			
			.eventon_sorting_section {

				&::before {
					font-size: 16px;
					width: 14%;
				}

				.eventon_filter_line{
					width: 86%;

				}

				.eventon_filter {
					width: 25%;
				}
		
				.eventon_sort_line .eventon_sortval_for_dropdown, 
				.eventon_filter_line .filtering_set_val {

					font-size: 16px;
					padding: 20px 20px;

				}

				p.evo_filter_submit {
					@include button(16);
					background-color: $red;
				}

			}
		}

	
	@media (max-width: $bp-lg) {
		
		//Monthly Calendar View
		#event-calendar {

			.ajde_evcal_calendar {
				
				.eventon_events_list{
					height: auto !important;
					overflow: auto !important;
				}

				.eventon_fullcal, #evcal_list {
					width: 100% !important;
					
					.evo_fc_day {
						height: 75px;
					}
					
					.eventon_fc_daynames {
						
							.evo_fc_day {
								height: 45px;
								padding: 0;
								line-height: 45px;
							}
						}

				}
				
				.calendar_header {
		
					.evo_month_title {
						@include header(42);
						padding: 26px 0;
					}
					
				.evo_cal_above {

					width: 50%;
			
					.evo-jumper-btn, .evo-gototoday-btn{

						font-size: 16px;
						padding: 0 20px;
						width: 50%;

							&:hover {
								font-size: 18px;

							}

						}
				
					}

				}

			}
			
		}
		
		
		//List of Events
		#event-list {

			.ajde_evcal_calendar {

				
				.evo_cal_other_header {
					font-size: 42px;
					line-height: 42px;
				}

				.eventon_events_list {
					

					.eventon_list_event {
						width: 100% !important;

							.evcal_event_title{
								font-size: 28px !important;
								line-height: 28px !important; 
							}

							.evcal_event_subtitle {
								font-size: 16px !important;
								line-height: 16px !important;
							}

					} //eventon_list_event

				} //eventon_events_list

			} //adje_evcal_calendar

		} //event-list
		
		#event-grid {

			.ajde_evcal_calendar {

				.eventon_sorting_section {

					&::before {
						font-size: 14px;
						padding: 20px !important;
					}

					.eventon_sort_line .eventon_sortval_for_dropdown, 
					.eventon_filter_line .filtering_set_val {

						font-size: 14px;
						padding: 20px 20px;

					}

					p.evo_filter_submit {
						@include button(14);
						background-color: $red;
					}

				}
			}
		}

		@media (max-width: $bp-md) {
			
		//Monthly Calendar View
		#event-calendar {

			.ajde_evcal_calendar {

				.eventon_fullcal, #evcal_list {
					width: 100% !important;
					
					.evo_fc_day {
						height: 100px;
					}

				}
				
				.calendar_header {
					height: 120px;
					
					.evo_arrows {
						width: 100% !important;
						top: 10px;
					}
		
					.evo_month_title {
						@include header(42);
						padding: 16px 0;
						width: 100% !important
					}
					
				.evo_cal_above {
					position: absolute;
					top: 70px;
					min-height: 50px;
					height: 50px;
					width: 100%;
					border-top: 1px solid $darkred;
			
					.evo-jumper-btn, .evo-gototoday-btn{

						font-size: 16px;
						padding: 0 20px;
						width: 50%;
						line-height: 50px;

							&:hover {
								font-size: 18px;

							}

						}
				
					}
					
					.evo_cal_above_content {
						width: 100% !important;
						top: 120px;
						
						.evo_j_years{

							.legend a {
								width: 20% !important;
								line-height: 28px;
								font-size: 16px;
							}
						}
						
						.evo_j_months{

							.legend a {
								width: 33.33333% !important;
								line-height: 28px;
								font-size: 16px;
							}
						}
						
					}

				}

			}
			
		}
			
		#event-list {

			.ajde_evcal_calendar {

				.evo_cal_other_header {
					font-size: 42px;
					line-height: 42px;
				}

				.eventon_events_list {
					

					.eventon_list_event {
						width: 100% !important;

							.evcal_event_title{
								font-size: 24px !important;
								line-height: 24px !important; 
							}

							.evcal_event_subtitle {
								font-size: 16px !important;
								line-height: 16px !important;
							}

					} //eventon_list_event

				} //eventon_events_list

			} //adje_evcal_calendar

		} //event-list
		
		#event-grid {
			
			.ajde_evcal_calendar {
			
			.eventon_sorting_section {
				padding: 0;

				&::before {
					width: 100%;
					font-size: 18px;
					padding: 20px 10px 10px 10px !important;
					
				}
				
				.eventon_filter_line{
					width: 100%;
					margin-bottom: 10px;

				}

				.eventon_filter {
					width: 25%;
				}
				
					.eventon_sort_line .eventon_sortval_for_dropdown, 
					.eventon_filter_line .filtering_set_val {
						font-size: 16px;
						padding: 15px 10px;

					}

					p.evo_filter_submit {
						@include button(16);
						background-color: $red;
						margin-top: 8px;
					}
				
					.eventon_filter_line::after {
						content:"\A";
						white-space: pre;
					}

				}
			}
			
		}


			@media (max-width: $bp-sm) {
				
			//Monthly Calendar View
			#event-calendar {

				.ajde_evcal_calendar {

					.eventon_fullcal, #evcal_list {
						width: 100% !important;

						.evo_fc_day {
							height: 60px;
						}

					}
					
					.eventon_events_list {
						border: 0px solid white !important;
						border-top: 1px solid $lightgray !important;

						.eventon_list_event {

							p.no_events { 
								font-size: 24px; 
								padding: 30px 0 10px 0;
							}

							.ev_ftImg {
								width: 115px;
								height: 150px;
							}

							.evcal_list_a {
								padding: 20px 20px 0 75px !important;
								min-height: 150px;
								max-height: 150px !important;
								
								.evcal_cblock{
									width: 55px !important;
								}	

								.evcal_desc {
									padding-left: 115px !important;
								}

								.evcal_event_title{
									font-size: 20px;
									line-height: 20px; 
								}

								.evcal_event_subtitle {
									@include header(14);
								}

							}

						} //eventon_list_event

					} //eventon_events_list
					
				}

			}


				
			#event-list {

			.ajde_evcal_calendar {

				.evo_cal_other_header {
					font-size: 36px;
					line-height: 36px;
				}

				.eventon_events_list {
					
					.eventon_list_event {
						width: 100% !important;
						
						.evcal_list_a {
							padding: 10px 10px 0 95px !important;
							
							.event_desc { padding-left: 140px !important;}
						}

							.evcal_event_title{
								font-size: 20px !important;
								line-height: 20px !important; 
							}

							.evcal_event_subtitle {
								font-size: 14px !important;
								line-height: 14px !important;
							}

					} //eventon_list_event

				} //eventon_events_list

			} //adje_evcal_calendar

		} //event-list
			
			#event-grid {
				
			.ajde_evcal_calendar {
			
			.eventon_sorting_section {
				padding: 0;

				&::before {
					width: 100%;
					font-size: 18px;
					padding: 20px 10px 10px 10px !important;
					
				}
				
				.eventon_filter_line{
					width: 100%;
				}

				.eventon_filter {
					width: 33.33333%;
				}
				
					.eventon_sort_line .eventon_sortval_for_dropdown, 
					.eventon_filter_line .filtering_set_val {
						font-size: 16px;
						padding: 15px 10px;

					}
				
				.evo_sortList_event_location::after {
					content:"\A";
					white-space: pre;
				}

					p.evo_filter_submit {
						@include button(14);
						background-color: $red;
						margin: 20px auto 5px auto;
						width: 300px;
						display: table;
						float: none;
					}
				
				.eventon_filter_line::after {
						display: none;
					}

				}
			}
				
			}


			} //bp-sm

		} //bp-md

	} //bp-lg
	
} //bp-xl