.prev-next-posts {padding: 0px 30px 30px 30px;}

.blog-scroll-head {
	padding: 12px 30px;
	background-color: $stone;
	border-bottom: 1px solid $gray_10;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
	width: 100%;
	position: fixed;
	top: -200px;
	@include trans(0.4);
	z-index: 100000;
	
	.head-24{
		color: $white;
		line-height: 48px;
		margin-bottom: 0px;
	}
	
	&.scroll {
		top: 108px;
	}
}

#blog-main {

	.byline-photo {
		text-align: center;
		width: 60px;
		position: absolute;
		top: -30px;
		left: 50%;
		margin-left: -30px;
		padding-bottom: 30px;

		img {
			border-radius: 50%;
			box-shadow: $shadow;
		}
	}

	.byline-meta {
		margin: 0 auto 15px auto;
		padding-top: 15px;
		text-align: center;

		.byline-name {
			text-align: center;
		}

	}
	
	address {
		font-size: 12px; 
		font-style: italic; 
		margin-bottom: 15px; 
	}
	
	h2, h2 strong {
		@include header(36);
		font-weight: $heavy !important;
	}
	
	h3, h3 strong{
		@include header(28);
		font-weight: $heavy !important;
	}
	
	h4, h4 strong {
		@include header(24);
		font-weight: $heavy !important;
	}

}

@media (max-width: $bp-lg) {
	
		.blog-scroll-head {
			padding: 12px 20px;
	
			.head-24{
				text-align: center;
				margin-bottom: 10px;
			}

			&.scroll {
				top: 68px;
			}
		}
	
	@media (max-width: $bp-md) {
		
		@media (max-width: $bp-sm) {
			
			
		}
	}
}

