



.ui-datepicker {
	font-family:"Nunito Sans", arial, sans-serif;
	background-color:#ffffff;
	box-shadow: 0px 0px 150px rgba(0,0,0,0.75);
	border-radius:5px;
	/*padding: 20px;*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui-datepicker-header {
	background-color:#a20c33;
	padding:50px 20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	
	/*background-image:url(https://instagram.com/p/Bf8gdHTAcsn/media);*/
	/*background-image:url(http://cdn.ohio.org/cdn/farfuture/l6KAsWM31v85DkQaEOyhduvgQEkTi9X6miyD4wpZxPM/mtime:1504123004/sites/default/master/files/styles/hero_l/public/TO17019_WebsiteHeaders_MitasRestaurantCouples_2100x900%5B1%5D.jpg?itok=zw8q_DOj);*/
	background-image:url(http://cdn.ohio.org/cdn/farfuture/PeX0Nlu-4lKmLhCz1NPMCLfvBTrXzaDA3XO9DAqaz7c/mtime:1470744615/sites/default/master/files/styles/profile_slider/public/profiles/photos/profile_photo/listing_15252--profile_large--18863.jpg?itok=P0ZPVT7X);
	background-position:center center;
	background-size:cover;
	
}

.ui-datepicker-calendar {
	cursor:default;
	background-color:#ffffff;
	padding:20px 20px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.ui-datepicker-calendar td {
	padding:0;
}

.ui-datepicker-calendar > thead > tr > th > span {
	font-weight:900;
	color:#000000;
}

.ui-datepicker-calendar a.ui-state-default {
	display:table;
	margin:auto;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	color:#777777;
	background-color:#ffffff;
	border-radius:100%;
	width:27px;
	height:27px;
	text-align:center;
	padding-top:2px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:solid 1px #ffffff;
}

.ui-datepicker-calendar a:hover.ui-state-default {
	color:#000000;
	background-color:#ffffff;
	border:solid 1px #888888;
}

.ui-datepicker-calendar a.ui-state-highlight,
.ui-datepicker-calendar a:hover.ui-state-highlight {
	display:table;
	margin:auto;
	text-decoration:none;
	color:#ffffff;
	background-color:#a20c33;
	border:solid 1px #a20c33;
}

.ui-datepicker-calendar a.ui-state-active,
.ui-datepicker-calendar a:hover.ui-state-active {
	display:table;
	margin:auto;
	text-decoration:none;
	color:#000000;
	background-color:#bbbbbb;
	border:solid 1px #bbbbbb;
}

.ui-datepicker-calendar .ui-state-highlight.ui-state-active {
	display:table;
	margin:auto;
	text-decoration:none;
	color:#000000;
	background-color:#bbbbbb;
	border:solid 1px #a20c33;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	position:absolute;
	top:0px;
	color:rgba(255,255,255,0.4);
	font-size:30px;
	text-transform:uppercase;
	padding:55px 13px;
}

a:hover.ui-datepicker-prev,
a:hover.ui-datepicker-next {
	color:#ffffff;
}

.ui-datepicker-prev {
	left:0px;
}

.ui-datepicker-next {
	float:right;
	right:0px;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
	background-image: none !important;
}

select.ui-datepicker-month,
select.ui-datepicker-year {
	/*
	position:relative;
	top:50px;
	*/
	font-family:handy-bold, "Nunito Sans", arial, sans-serif;
	font-size:27px;
	/*background-color:#a20c33;*/
	/*opacity:0.7;*/
	background-color:rgba(255, 255, 255, 0);
	border:0;
	color:#ffffff;
	margin:0px;
	padding-right:0px;
	text-shadow:0px 0px 10px rgba(0,0,0,1);
}

select.ui-datepicker-month {
	margin-left:15px;
	margin-right:10px;
}

select.ui-datepicker-month > option,
select.ui-datepicker-year > option {
	font-family:"Nunito Sans", arial, sans-serif;
	font-size:15px;
	background-color:#ffffff;
	border:0;
	color:#000000;
}

/*
.ui-datepicker-prev:before,
.ui-datepicker-next:before {
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	font-weight: normal;
	align-items: center;
	justify-content: center;
	color:rgba(255,255,255,0.3);
	font-size:43px;
}

a:hover.ui-datepicker-prev:before,
a:hover.ui-datepicker-next:before {
	color:#ffffff;
}

.ui-datepicker-prev:before {
	content: "\f104";
}

.ui-datepicker-next:before {
	content: "\f105";
}
*/

.ui-datepicker-title {
	font-family:handy-bold, "Nunito Sans", arial, sans-serif;
	color:#ffffff;
	font-weight:900;
	text-align:center;
	font-size:23px;
	/*text-transform:uppercase;*/
}


















