
@font-face {
	font-family: 'handy';
	src: url('fonts/handy.ttf');
}

@font-face {
	font-family: 'handy-bold';
	src: url('fonts/handy-Bold.ttf');
}

.font-handy {
	font-family:handy, "Nunito Sans", arial, sans-serif;
}

.font-handy-bold {
	font-family:handy-bold, "Nunito Sans", arial, sans-serif;
	font-weight:900;
}

.font-normal {
	font-weight:300 !important;
}

.font-bold {
	font-weight:500;
}

.font-black {
	font-weight:900;
}

.color-white {
	color:#ffffff;
}

.color-red {
	color:#a20c33;
}

.color-grey {
	color:#bbbbbb;
}

.color-charcoal {
	color:#555555;
}

.color-black {
	color:#000000;
}

small {
	font-size:10px;
}

.border-top {
	display:table;
	width:100%;
	border-top:solid 1px #bbbbbb;
	padding:15px 0px 10px 0px;
	font-size:21px;
	color:#a20c33;
}

hr {
	color:#bbbbbb;
	background-color:#bbbbbb;
	border-top:solid 1px #bbbbbb;
	border-bottom:0;
}








html,
body {
	height:100vh;
}

body {
	margin:0px;
	color:#474C55;
	background-color:#ffffff;
	font-size:14px;
	font-weight:500;
	overflow-y:scroll;
}

.hide,
.none,
.x {
	display:none !important;
}

* {
	font-family:"Nunito Sans", arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:handy-bold, "Nunito Sans", arial, sans-serif !important;
}

span {
	font-family:inherit;
}

div,
.d-col,
input[type="text"],
input[type="password"],
textarea,
footer {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

input[type="text"],
input[type="password"] {
	padding:7px 10px;
	font-size:16px;
	line-height:1;
	color:#555555;
	border-radius:5px;
	border:solid 1px #bbbbbb;
}

textarea {
	padding:7px 10px;
	font-size:16px;
	line-height:1.5;
	color:#555555;
	border-radius:5px;
	border:solid 1px #bbbbbb;
	width:100%;
	min-height:120px;
}

label {
	font-weight:900;
	color:#000000;
	padding:0px 5px 0px 0px;
}

button,
a.button {
	border:0px;
	color:#ffffff;
	background-color:#a20c33;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:900;
	padding:9px 30px 7px 30px;
	border-radius:3px;
	line-height:1;
}

button:hover,
a:hover.button {
	background-color:#d22c53;
}

button,
a,
select,
option {
	cursor:pointer !important;
}

button,
a,
input,
select,
option,
textarea {
	outline:0 !important;
}

select {
	margin-right:20px;
	padding:6px 6px;
	border-radius:5px;
	border:solid 1px #bbbbbb;
}

.float-left {
	display:table;
	float:left;
	padding-right:20px;
}

.float {
	display:table;
	float:left;
	padding-right:20px;
}

.float-right {
	display:table;
	float:right;
	padding-right:20px;
}

.third {
	display:table;
	float:left;
	padding-right:20px;
	width:33%;
}

.half {
	display:table;
	float:left;
	padding-right:20px;
	width:50%;
}

.align-left {
	text-align:left;
}

.align-center {
	text-align:center;
}

.align-right {
	text-align:right;
}

.height-100 {
	height:100px;
}

.vertical-middle {
	display:table-cell !important;
	vertical-align:middle;
}

.margin-auto {
	display:table;
	margin:auto;
}








/*
h2 i.fa {
	color:#999999 !important;
	font-size:45px;
	margin-right:10px;
}
*/








header {
	display:table;
	width:100%;
	height:70px;
	position:fixed;
	color:#ffffff;
	background-color:#A20C33;
	z-index:999999;
	/*
	padding:5px 50px;
	box-shadow:0px 0px 100px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 0px 100px rgba(0,0,0,0.75);
	-webkit-box-shadow:0px 0px 100px rgba(0,0,0,0.75);
	*/
}

.header-spacer {
	display:table;
	height:70px;
}

.header-left {
	display:table;
	width:50%;
	/*width:calc(50% - 76px);*/
	float:left;
	color:#ffffff;
	font-size:16px;
	padding-top:5px;
}

/*
.header-center {
	display:table;
	width:152px;
	float:left;
	text-align:center;
	padding-top:5px;
}
*/

.header-right {
	display:table;
	width:50%;
	float:left;
	color:#ffffff;
	text-align:right;
}

.logo-header {
	height: 60px;
}

section {
	color:#474C55;
	margin:20px;
}

.main {
	display:table;
	width:100%;
	height:100vh;
	background-color:#ffffff;
}

.responsive {
	display:table;
	margin:auto;
	width:1000px;
	padding:0px 20px;
}

.clear-both {
	display:table;
	clear:both;
}








.subheader-left {
	display:table;
	float:left;
	width:50%;
}

.subheader-right {
	display:table;
	float:left;
	width:50%;
	text-align:right;
}










.content {
	display:table;
	width:100%;
	clear:both;
	margin-bottom:50px;
}

.content-border {
	display:table;
	width:100%;
	clear:both;
	/*border:solid 1px #bbbbbb;*/
	margin-bottom:50px;
}

.global-header {
	/*background-color:#555555;*/
	color:#a20c33;
	padding:10px 0px 10px 0px;
	/*border-top:solid 1px #bbbbbb;*/
	border-bottom:solid 1px #bbbbbb;
	margin-bottom:30px;
}

.global-header h2 {
	margin:0px;
	font-size:36px;
}

.global-body {
	/*padding:20px;*/
}

.global-full {
	display:table;
	width:100%;
	clear:both;
	padding-bottom:10px;
	min-height:70px;
}

.global-full-text {
	display:table;
	width:100%;
	clear:both;
	padding-bottom:10px;
}

.global-left {
	display:table;
	width:50%;
	float:left;
	padding-right:20px;
	padding-bottom:10px;
	min-height:70px;
}

.global-right {
	display:table;
	width:50%;
	float:left;
	padding-left:20px;
	padding-bottom:10px;
	min-height:70px;
}

.pad-top {
	padding-top:15px;
}

.pad-bottom {
	padding-bottom:15px;
}

.pad-left {
	padding-left:32px;
}

.pad-right {
	padding-right:32px;
}









.dashboard-left {
	display:table;
	float:left;
	width:75%;
	padding-bottom:20px;
}

.dashboard-search {
	display:table;
	width:100%;
	padding-bottom:10px;
}

.dashboard-search input[type="text"] {
	display:table;
	width:100%;
	clear:both;
}

.dashboard-product {
	display:table;
	float:left;
	width:50%;
	padding-bottom:10px;
}

.dashboard-category {
	display:table;
	float:left;
	width:50%;
	padding-bottom:10px;
}

.dashboard-city {
	display:table;
	float:left;
	width:33%;
	padding-bottom:10px;
}

.dashboard-region {
	display:table;
	float:left;
	width:33%;
	padding-bottom:10px;
}

.dashboard-oef {
	display:table;
	float:left;
	width:33%;
	padding-bottom:10px;
}





.dashboard-table {
	margin:20px 0px 15px 0px;
	/*border:solid 1px #cccccc;*/
	display:table;
	width:calc(100% - 1px);
	
}

.dashboard-table-row {
	display:table;
	width:100%;
	border-bottom:solid 1px #cccccc;
}

.dashboard-table-row.header-row {
	background-color:#cccccc;
	font-weight:bold;
}

.dashboard-table-row .d-col {
	font-weight:normal;
}

.dashboard-table-row.header-row .d-col {
	font-weight:900;
	font-size:14px;
	padding-top:7px;
	white-space:nowrap;
}

.dashboard-table-row.header-row a.d-col {
	color:#A20C33;
	text-decoration:none;
}

.dashboard-table-row.header-row a.d-col.hi {
	background-color:#A20C33;
	color:#ffffff;
	text-decoration:none;
}

.dashboard-table-row.header-row div.d-col {
	color:#777777;
	text-decoration:none;
}

.d-col {
	display:table-column;
	float:left;
	/*border:solid 1px #cccccc;*/
	padding:5px;
	font-size:12px;
	font-weight:900;
	line-height:1.11;
	color:#000000;
}

a.d-col {
	cursor:pointer;
}

.d-col:nth-child(1) {
	width:60px;
}

.d-col:nth-child(2) {
	width:calc(20% - 30px);
}

.d-col:nth-child(3) {
	width:calc(20% - 30px);
}

.d-col:nth-child(4) {
	width:100px;
}

.d-col:nth-child(5) {
	width:calc(25% - 60px);
}

.d-col:nth-child(6) {
	width:calc(35% - 40px);
	letter-spacing:-0.5px;
}














.dashboard-right {
	display:table;
	float:left;
	width:25%;
	font-size:13px;
	padding-left:20px;
	padding-bottom:20px;
}

.dashboard-tools-header {
	background-color:#A20C33;
	color:#ffffff;
	padding:5px 20px;
	font-weight:900;
}

nav {
	display:table;
	width:100%;
	background-color:#cccccc;
}

.nav {
	/*padding:15px 20px;*/
	display:table;
	width:100%;
}

.nav h4 {
	font-weight:900;
	margin:5px 0px 5px 0px;
}

.nav a {
	/*
	display:table;
	clear:both;
	*/
	display: inline-table;
	cursor:pointer;
	/*margin-right:10px;*/
	color:#A20C33;
	font-weight:bold;
	line-height:1.75;
	text-decoration:none;
	padding:5px 5px;
}

.nav a:hover {
	color:#ffffff;
	background-color:#a20c33;
}

.nav span {
	color:#000000;
}

.nav p {
	margin:0px 0px 0px 40px;
}

.dashboard-footer {
	display:table;
	width:100%;
}

.dashboard-footer-left {
	display:table;
	width:50%;
	float:left;
	padding-bottom:15px;
	font-weight:900;
}

.dashboard-footer-right {
	display:table;
	width:50%;
	float:left;
	text-align:right;
	padding-bottom:15px;
	font-weight:900;
}

.dashboard-footer-right a {
	color:#a20c33;
}

.dashboard-footer p {
	font-size:13px;
}













input[type="text"][class="fill"],
input[type="password"][class="fill"] {
	display:table;
	width:100%;
	clear:both;
}

input[type="text"][class="float"] {
	display:table;
	clear:both;
}

.profile-full {
	display:table;
	width:100%;
	clear:both;
	padding-bottom:10px;
	min-height:70px;
}

.profile-left {
	display:table;
	width:50%;
	float:left;
	padding-right:20px;
	padding-bottom:10px;
	min-height:70px;
}

.profile-right {
	display:table;
	width:50%;
	float:left;
	padding-left:20px;
	padding-bottom:10px;
	min-height:70px;
}














/* Customize the label (the container) */
.container-checkbox {
	display: table;
	float:left;
	position: relative;
	padding:10px 0px 10px 30px;
	margin-right:35px;
	margin-bottom: 12px !important;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox > input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox > .checkmark {
	position: absolute;
	top: 8px;
	left: 0;
	height: 20px;
	width: 20px;
	color:#888888;
	background-color: #ffffff;
	border:solid 1px #bbbbbb;
	border-radius:0px;
	line-height:24px;
	white-space:nowrap;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover > input ~ .checkmark {
	background-color: #bbbbbb;
	line-height:24px;
	white-space:nowrap;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox > input:checked ~ .checkmark {
	color:#000000;
	background-color: #a20c33;
	border:solid 1px #a20c33;
	line-height:24px;
	white-space:nowrap;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox > .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-checkbox > input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-checkbox > .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-checkbox > .checkmark > span {
	display:inline-table;
	width:31px;
}








/* Customize the label (the container) */
.container-checkbox-sub {
	display: table;
	float:left;
	position: relative;
	padding:15px 0px 5px 32px;
	margin-right:35px;
	margin-bottom: 12px !important;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox-sub > input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox-sub > .checkmark {
	position: absolute;
	top: 8px;
	left: 0;
	height: 20px;
	width: 20px;
	color:#888888;
	background-color: #ffffff;
	border:solid 1px #bbbbbb;
	border-radius:0px;
	line-height:24px;
	white-space:nowrap;
}

/* On mouse-over, add a grey background color */
.container-checkbox-sub:hover > input ~ .checkmark {
	background-color: #bbbbbb;
	line-height:24px;
	white-space:nowrap;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox-sub > input:checked ~ .checkmark {
	color:#000000;
	background-color: #a20c33;
	border:solid 1px #a20c33;
	line-height:24px;
	white-space:nowrap;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox-sub > .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-checkbox-sub > input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-checkbox-sub > .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-checkbox-sub > .checkmark > span {
	display:inline-table;
	width:31px;
}





	.container-checkbox .container-checkbox-sub:first-of-type {
		margin-top:25px;
	}

	.container-checkbox > input ~ .container-checkbox-sub {
		display:none;
	}

	.container-checkbox > input:checked ~ .container-checkbox-sub {
		display:table;
	}














/* The container */
.container-radio {
	display: table;
	position: relative;
	padding:7px 0px 10px 33px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.container-radio .radio {
	position: absolute;
	top: 5px;
	left: 0;
	height: 22px;
	width: 22px;
	color:#888888;
	background-color: #ffffff;
	border:solid 1px #999999;
	border-radius: 50%;
	line-height:24px;
	white-space:nowrap;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .radio {
	background-color: #bbbbbb;
	border:solid 1px #bbbbbb;
	line-height:24px;
	white-space:nowrap;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .radio {
	color:#000000;
	background-color: #a20c33;
	border:solid 1px #a20c33;
	line-height:24px;
	white-space:nowrap;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .radio:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .radio:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .radio:after {
	top: 6px;
	left: 6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .radio > span {
	display:inline-table;
	width:31px;
}














.clear {
	float:none;
	clear:both;
	margin-bottom:0px;
}













footer {
	display:table;
	width:100%;
	clear:both;
	color:#ffffff;
	background-color:#A20C33;
	padding:50px;
	
}






















