// GLOBAL HEADER STYLES

/*Base Styles & Normalization*/
	html {
  		box-sizing: border-box;
	}

	*, *:before, *:after {
  		box-sizing: inherit;
		outline: 0 !important;
	}

	body {
	font: 16px/18px;
	font-family: $main-font;
	font-weight: $regular;
	color: $black;
	background-color: $white;
	padding: 0;
	margin: 0;
	background-image: url('/wordpress/wp-content/themes/ohio-bones/library/images/texture-light.png');
	}

	address {
	font-style: normal;
	font-weight: 100 !important;
	}

	img {
	object-fit: cover;
	}

	p {
	  margin: 15px 0px;
	  line-height: 1.2em;
		
	  -ms-word-wrap: break-word;
	  word-break: break-word; //non-standart css for webkit
	  word-wrap: break-word;
		
	  // cleaning up the ragged lines and breaks
	  -webkit-hyphens: auto;
		 -moz-hyphens: auto;
			  hyphens: auto;
		
	  // sets a minimum number of characters before and after the break
	  -webkit-hyphenate-before: 2;
	   -webkit-hyphenate-after: 3;
			   hyphenate-lines: 3;
		
	  // enabling fancy ligatures when available
	  -webkit-font-feature-settings: "liga", "dlig";
	   -moz-font-feature-settings: "liga=1, dlig=1";
		  -ms-font-feature-settings: "liga", "dlig";
		   -o-font-feature-settings: "liga", "dlig";
			  font-feature-settings: "liga", "dlig";
	}


	a {
		text-decoration: none;
		color: inherit !important;
		font-weight: $bold;

		:hover,
		:visited,
		:focus,
		:visited:hover,
		:visited:focus {
			color: auto !important;
			opacity: 0.9;
			
			button, img {opacity: 1 !important;}
		}
	}

	a.link-wrap {
		color: inherit;
		font-weight: normal;

		&:hover {
			opacity: 1;
		}
	}

	strong, b {font-weight: $bold;}

	main {min-height: 100vh;}

	#content {
		padding: 60px 0px;
		text-align: left;
		margin: $mid !important;
		min-height: 100vh !important;
	}

	#content-wrap {
		padding: 30px 10px;
		width: 100%;
		max-width: $page-width;
		margin: $mid;
	}

	table {
		border: 1px solid $lightgray;
		width: 100%;
		margin-bottom: 30px;

		tr, td, th { padding: 10px; border: 1px solid $lightgray; font-size: 14px; text-align: center;}

		tr td:first-child { text-align: left;}

		th {background-color: $stone; color: $white;}

		tr:nth-child(odd) {background-color: lighten($stone, 65%);}
	}


// Responsive Sizing
@media (max-width: $bp-lg) {
	body {
	font-size:$font-lg;
	}

	@media (max-width: $bp-md) {
		body {
		font-size:$font-md;
		}

		@media (max-width: $bp-sm) {
			body {
			font-size:$font-md;
			}
			p { margin: 10px 0; }
		}
	}
}

@media (max-width: 990px) {
	#hotels-dates-form .SumoSelect>.optWrapper.isFloating {
		height: auto !important;
	}
}
