// GLOBALLY USED FEATURES

/* Include styles for commonly used features like image sliders, accordion menus, etc... */

* { /* quick reset */
	margin: 0;
}

//Basic Column Styles
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	position: relative;
	opacity: 1;
	height: auto;
	@include transition(0.1);

	&.last{
		@include last;
	}

}

.desk-show {display: none; opacity: 0;}
.tab-show {display: none; opacity: 0;}
.phone-show {display: none; opacity: 0;}
.show {display: block !important; opacity: 1 !important;}

.marginsfix {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

//Large Screens Columns
.col-12 { @include span(12);}
.col-11 { @include span(11);}
.col-10 { @include span(10);}
.col-9 { @include span(9);}
.col-8 { @include span(8);}
.col-7 { @include span(7);}
.col-6 { @include span(6);}
.col-5 { @include span(5);}
.col-4 { @include span(4);}
.col-3 { @include span(3);}
.col-2 { @include span(2);}
.col-1 { @include span(1);}

.col-12::after {content:''; display: table; height: 0; clear: both;}

.col-12-full { @include span(12 wide no-gutters); margin: 0;}
.col-11-full { @include span(11 wide no-gutters); margin: 0;}
.col-10-full { @include span(10 wide no-gutters); margin: 0;}
.col-9-full { @include span(9 wide no-gutters); margin: 0;}
.col-8-full { @include span(8 wide no-gutters); margin: 0;}
.col-7-full { @include span(7 wide no-gutters); margin: 0;}
.col-6-full { @include span(6 wide no-gutters); margin: 0;}
.col-5-full { @include span(5 wide no-gutters); margin: 0;}
.col-4-full { @include span(4 wide no-gutters); margin: 0;}
.col-3-full { @include span(3 wide no-gutters); margin: 0;}
.col-2-full { @include span(2 wide no-gutters); margin: 0;}
.col-1-full { @include span(1 wide no-gutters); margin: 0;}

.col-fifths { @include span(1 of 5);}
.col-fifths-full { @include span(1 of 5 wide no-gutters); margin: 0;}
.col-tenths { @include span(1 of 10); }



//Smaller Screen Widths
@media (max-width: $bp-xl) {
	.screen-12 {@include span(12);}
	.screen-11 {@include span(11);}
	.screen-10 {@include span(10);}
	.screen-9 {@include span(9);}
	.screen-8 {@include span(8);}
	.screen-7 {@include span(7);}
	.screen-6 {@include span(6);}
	.screen-5 {@include span(5);}
	.screen-4 {@include span(4);}
	.screen-3 {@include span(3);}
	.screen-2 {@include span(2);}
	.screen-1 {@include span(1);}
	
		.screen-12-full { @include span(12 wide no-gutters); margin: 0;}
		.screen-11-full { @include span(11 wide no-gutters); margin: 0;}
		.screen-10-full { @include span(10 wide no-gutters); margin: 0;}
		.screen-9-full { @include span(9 wide no-gutters); margin: 0;}
		.screen-8-full { @include span(8 wide no-gutters); margin: 0;}
		.screen-7-full { @include span(7 wide no-gutters); margin: 0;}
		.screen-6-full { @include span(6 wide no-gutters); margin: 0;}
		.screen-5-full { @include span(5 wide no-gutters); margin: 0;}
		.screen-4-full { @include span(4 wide no-gutters); margin: 0;}
		.screen-3-full { @include span(3 wide no-gutters); margin: 0;}
		.screen-2-full { @include span(2 wide no-gutters); margin: 0;}
		.screen-1-full { @include span(1 wide no-gutters); margin: 0;}

	.screen-hide {display: none !important; opacity: 0 !important;}
	.screen-show {display: block !important; opacity: 1 !important;}

//Dekstop Column Styles
@media (max-width: $bp-lg) {
	.desk-12 {@include span(12);}
	.desk-11 {@include span(11);}
	.desk-10 {@include span(10);}
	.desk-9 {@include span(9);}
	.desk-8 {@include span(8);}
	.desk-7 {@include span(7);}
	.desk-6 {@include span(6);}
	.desk-5 {@include span(5);}
	.desk-4 {@include span(4);}
	.desk-3 {@include span(3);}
	.desk-2 {@include span(2);}
	.desk-1 {@include span(1);}
	
		.desk-12-full { @include span(12 wide no-gutters); margin: 0;}
		.desk-11-full { @include span(11 wide no-gutters); margin: 0;}
		.desk-10-full { @include span(10 wide no-gutters); margin: 0;}
		.desk-9-full { @include span(9 wide no-gutters); margin: 0;}
		.desk-8-full { @include span(8 wide no-gutters); margin: 0;}
		.desk-7-full { @include span(7 wide no-gutters); margin: 0;}
		.desk-6-full { @include span(6 wide no-gutters); margin: 0;}
		.desk-5-full { @include span(5 wide no-gutters); margin: 0;}
		.desk-4-full { @include span(4 wide no-gutters); margin: 0;}
		.desk-3-full { @include span(3 wide no-gutters); margin: 0;}
		.desk-2-full { @include span(2 wide no-gutters); margin: 0;}
		.desk-1-full { @include span(1 wide no-gutters); margin: 0;}

	.desk-hide {display: none !important; opacity: 0 !important;}
	.desk-show {display: block !important; opacity: 1 !important;}

	.marginsfix {
		margin-left: .833333% !important;
		margin-right: .833333% !important;
	}

	//Tablet Column Styles
	@media (max-width: $bp-md) {
		.tab-12 {@include span(12);}
		.tab-11 {@include span(11);}
		.tab-10 {@include span(10);}
		.tab-9 {@include span(9);}
		.tab-8 {@include span(8);}
		.tab-7 {@include span(7);}
		.tab-6 {@include span(6);}
		.tab-5 {@include span(5);}
		.tab-4 {@include span(4);}
		.tab-3 {@include span(3);}
		.tab-2 {@include span(2);}
		.tab-1 {@include span(1);}
		
		.tab-12-full { @include span(12 wide no-gutters); margin: 0;}
		.tab-11-full { @include span(11 wide no-gutters); margin: 0;}
		.tab-10-full { @include span(10 wide no-gutters); margin: 0;}
		.tab-9-full { @include span(9 wide no-gutters); margin: 0;}
		.tab-8-full { @include span(8 wide no-gutters); margin: 0;}
		.tab-7-full { @include span(7 wide no-gutters); margin: 0;}
		.tab-6-full { @include span(6 wide no-gutters); margin: 0;}
		.tab-5-full { @include span(5 wide no-gutters); margin: 0;}
		.tab-4-full { @include span(4 wide no-gutters); margin: 0;}
		.tab-3-full { @include span(3 wide no-gutters); margin: 0;}
		.tab-2-full { @include span(2 wide no-gutters); margin: 0;}
		.tab-1-full { @include span(1 wide no-gutters); margin: 0;}
		
		.tab-hide {display: none !important; opacity: 0 !important;}
		.tab-show {display: block !important; opacity: 1 !important;}
		.tab-pad {padding: 15px 0;}

		//Mobile Column Styles
		@media (max-width: $bp-sm) {
			.phone-12 {@include span(12 wide no-gutters); margin: 0 !important;}
			.phone-11 {@include span(11);}
			.phone-10 {@include span(10);}
			.phone-9 {@include span(9);}
			.phone-8 {@include span(8);}
			.phone-7 {@include span(7);}
			.phone-6 {@include span(6);}
			.phone-5 {@include span(5);}
			.phone-4 {@include span(4);}
			.phone-3 {@include span(3);}
			.phone-2 {@include span(2);}
			.phone-1 {@include span(1);}

			.phone-12-full { @include span(12 wide no-gutters); margin: 0 !important;}
			.phone-11-full { @include span(11 wide no-gutters); margin: 0 !important;}
			.phone-10-full { @include span(10 wide no-gutters); margin: 0 !important;}
			.phone-9-full { @include span(9 wide no-gutters); margin: 0 !important;}
			.phone-8-full { @include span(8 wide no-gutters); margin: 0 !important;}
			.phone-7-full { @include span(7 wide no-gutters); margin: 0 !important;}
			.phone-6-full { @include span(6 wide no-gutters); margin: 0 !important;}
			.phone-5-full { @include span(5 wide no-gutters); margin: 0 !important;}
			.phone-4-full { @include span(4 wide no-gutters); margin: 0 !important;}
			.phone-3-full { @include span(3 wide no-gutters); margin: 0 !important;}
			.phone-2-full { @include span(2 wide no-gutters); margin: 0 !important;}
			.phone-1-full { @include span(1 wide no-gutters); margin: 0 !important;}

			.phone-hide {display: none !important; opacity: 0 !important;}
			.phone-show {display: block !important; opacity: 1 !important;}
			.phone-wide {margin: 0; width: 100%;}
			.phone-pad {padding: 15px 0;}
			.phone-nomargin {margin: 0 !important;}
			.phone-nopadding {padding: 0 !important;}

		}
	}

}
	
}


.clear { /* Useful generic clearing class. */
	clear: both;
	line-height: 0;
	height: 0;
}
