// HELPER CLASSES

// Colors
.orange {color: $orange !important;}
.red {color: $red !important;}
.white {color: $white !important;}
.green {color: $green !important;}
.foam {color: $foam !important;}
.gold {color: $gold !important;}
.squash {color: $squash !important;}
.sand {color: $sand !important;}
.black {color: $black !important;}
.blue {color: $blue !important;}
.stone {color: $stone !important;}
.bark {color: $bark !important;}
.gray {color: $gray !important;}
.lightgray {color: $light-gray !important;}
.darkgray {color: $light-gray !important;}

a.orange:hover {color: $red !important;}

//Backgrounds
.orange-back {background-color: $orange !important;}
.red-back {background-color: $red !important;}
.white-back {background-color: $white !important;}
.green-back {background-color: $green !important;}
.foam-back {background-color: $foam !important;}
.gold-back {background-color: $gold !important;}
.squash-back {background-color: $squash !important;}
.sand-back {background-color: $sand !important;}
.blue-back {background-color: $blue !important;}
.stone-back {background-color: $stone !important;}
.brown-back {background-color: $bark !important;}
.transparent-back {background-color: none !important;}
.lightgray-back {background-color: $light-gray !important;}
.gray-back {background-color: $gray !important;}
.darkgray-back {background-color: $dark-gray !important;}

.darkorange-back {background-color: $darkorange !important;}
.darkred-back {background-color: $darkred !important;}
.darkgreen-back {background-color: $darkgreen !important;}
.darkfoam-back {background-color: $darkfoam !important;}
.darkgold-back {background-color: $darkgold !important;}
.darksquash-back {background-color: $darksquash !important;}
.darksand-back {background-color: $darksand !important;}
.darkblue-back {background-color: $darkblue !important;}
.darkstone-back {background-color: $darkstone !important;}
.darkbrown-back {background-color: $darkbark !important;}

//Textures
.texture-dark {background-image: url('/wordpress/wp-content/themes/ohio-bones/library/images/texture-dark.png'); }
.texture-light {background-image: url('/wordpress/wp-content/themes/ohio-bones/library/images/texture-light.png'); }

//Margins
.nomargin { margin: 0 !important; }
.margincenter { margin: 0 auto !important;}
.margin-top-5 { margin-top: 5px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-60 { margin-top: 60px !important; }
.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
.margin-bottom-45 { margin-bottom: 45px !important; }
.margin-bottom-60 { margin-bottom: 60px !important; }

.z-index {z-index: 10 !important;}

//Shadows
.box-shadow { box-shadow: $shadow;}
.text-shadow { text-shadow: $shadow; }
.noshadow { box-shadow: 0 0 0 rgba(0,0,0,0) !important; text-shadow: 0 0 0 rgba(0,0,0,0) !important; }

//Padding
.nopadding {padding: 0 !important; }
.padtop {padding-top: 15px !important; }
.padbottom { padding-bottom: 15px !important;}
.pad-2 {padding: 2.5px !important;}
.pad-5 {padding: 5px !important;}
.pad-10 {padding: 10px !important;}
.pad-15 {padding: 15px !important;}
.pad-20 {padding: 20px !important;}
.pad-30 {padding: 30px !important;}
.pad-40 {padding: 40px !important;}
.pad-50 {padding: 50px !important;}
.pad-60 {padding: 60px !important;}
	
//Positioning
.relative { position: relative !important;}
.absolute { position: absolute !important;}
.fixed {position: fixed !important;}
.absright {right: 0;}
.absleft {left: 0;}
.absbottom {bottom: 0;}
.abstop {top: 0;}
.abscenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

//Force Width
.wide {width: 100% !important;}
.notwide {width: auto !important;}

//Display Styles
.none { display: none !important; }
.block { display: block !important; }
.nonefade { overflow: hidden; height: 0 !important; visibility: hidden; opacity: 0;}
.inline {display: inline !important;}
.table {display: table !important;}

//Floats
.right { float: right !important; }
.left { float: left !important; }
.nofloat {float: none !important;}

//Fonts Styles
.center { text-align: center !important;}
.textalignleft, .alignleft {text-align: left !important;}
.textalignright, .alignright {text-align: right !important;}
.strikethrough { text-decoration: line-through !important;}
.lowercase {text-transform: none !important;}
.uppercase {text-transform: uppercase !important;}

//Font Styles
.heavy {font-weight: 900 !important;}
.bold {font-weight: 700 !important;}
.regular {font-weight: normal !important;}
.italic {font-style: italic !important;}
.light {font-weight: 200 !important;}

//Shadow
.shadow { text-shadow: $shadow;}
.boxshadow { box-shadow: $shadow;}

//Caps
.caps { text-transform: uppercase !important;}
.lowercase { text-transform: lowercase !important;}
.titlecase {text-transform: capitalize !important;}

//Sizes
.font-10 {font-size: 10px !important; line-height: 12px !important;}
.font-12 {font-size: 12px !important; line-height: 14px !important;}
.font-14 {font-size: 14px !important; line-height: 16px !important;}
.font-16 {font-size: 16px !important; line-height: 18px !important;}
.font-18 {font-size: 18px !important; line-height: 20px !important;}

.nunito {
	font-family: $main-font !important;
	letter-spacing: -0.5px !important;
}

.handy {
	font-family: $alt-font !important;
	letter-spacing: 0px !important;
	line-height: 1.3em !important;
	letter-spacing: -2px !important;
 }
 
.dropcap p:first-child:first-letter {
  float: left;
  font-family: $alt-font !important;
  font-size: 66px;
  line-height: 64px;
  padding-top: 0px;
  padding-right: 6px;
  padding-left: 0px;
}


//List Style Reset
.clean { padding: 0 !important; margin: 0 !important; list-style: none ; background-color: transparent !important; }

//Divider Lines
hr { border-bottom: 1px solid $stone; padding-bottom: 20px; margin-bottom: 20px;}
.line { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid $stone;}
.line-left { border-left: 1px solid $stone; padding-right: 15px; }
.line-right { border-right: 1px solid $stone; padding-right: 15px; }
.line-top { border-top: 1px solid $stone; padding-top: 15px; }
.line-bottom { border-bottom: 1px solid $stone; padding-bottom: 15px; }


//ClearFix
.clear { @include clearfix;}
.lineheight { line-height: 1.2em !important; }
.imagefix {margin-bottom: -4px;}

/*Transition*/
.transition-2 { @include transition(.25s);}
.transition-5 { @include transition(.5s); }
.transition-1 { @include transition(1s); }


//Backgrounds
.rounded {border-radius: 4px;}


//Basic List Styles
.line-list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

//Screen Reader
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

