
// Load Custom Ohio Icon Font
@font-face {
    font-family: 'icomoon';
    src:    url('library/fonts/icomoon/icomoon.eot?s9ck3s');
    src:    url('library/fonts/icomoon/icomoon.eot?s9ck3s#iefix') format('embedded-opentype'),
        url('library/fonts/icomoon/icomoon.ttf?s9ck3s') format('truetype'),
        url('library/fonts/icomoon/icomoon.woff?s9ck3s') format('woff'),
        url('library/fonts/icomoon/icomoon.svg?s9ck3s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"]:before, [class*=" i-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.i-southwest:before {
    content: "\e60a";
}
.i-southeast:before {
    content: "\e60b";
}
.i-northwest:before {
    content: "\e60c";
}
.i-northeast:before {
    content: "\e60d";
}
.i-central:before {
    content: "\e60e";
}
.i-amish-country:before {
    content: "\e60f";
}
.i-ohio:before {
    content: "\e607";
}

//Icons

.circle-icon {
	width: 60px;
	height: 60px;
	text-align: center;
	z-index: 100;
	margin: 0px auto 10px auto;
	
	.fa-circle {
		font-size: 60px;
		width: 60px;
		line-height: 60px;
		border-radius: 50%;
		box-shadow: $shadow;
		background: $orange;
		
		&.stone {background: $stone;}
		&.red {background: $red;}
		&.orange {background: $orange;}
		&.green {background: $green;}
		&.gray {background: $gray;}
		&.foam {background: $foam;}
		&.gold {background: $gold;}
		&.blue {background: $blue;}
		
	}
	
	.circle {
		font-size: 60px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: 0 auto;
		box-shadow: $shadow;
		position: relative;
	
	}
	
	.i-southwest,
	.i-southeast,
	.i-northwest,
	.i-northeast,
	.i-central,
	.i-amish-country {
		font-size: 36px !important;
		position: relative;
		top: 12px;
	}
	
	
	.i-ohio {
		font-size: 48px !important;
		position: relative;
		top: 6px;
	}
	
	
	[class*=" fa-"]:not(.fa-circle) {
		font-size: 48px !important;
	}
	
	&.inactive {
		opacity: 0.2;
	}
	
	&.normal {
		position: relative;
		top: 8px;
	}
	
	&.overlap{
		position: absolute;
		top: -30px;
		left: 50%;
		margin-left: -30px;
		
		&.left-side {
			top: 50% !important;
			margin-top: -30px !important;
			left: -30px !important;
			margin-left: 0 !important;
		}
		
		&.right-side {
			top: 50% !important;
			margin-top: -30px !important;
			right: -30px !important;
			margin-right: 0 !important;
			left: auto !important;
			margin-right: 0 !important;
		}
		
		&.right-sidebar {
			top: 100px !important;
			margin-top: -30px !important;
			right: -30px !important;
			margin-right: 0 !important;
			left: auto !important;
			margin-right: 0 !important;
		}
	}
	
	
	
}

.field-icon {
	position: absolute;
	top: 12px;
	right: 15px;
	color: $darkred;
}

@media (max-width: $bp-lg) {
	
	.circle-icon {
	width: 48px;
	height: 48px;
	margin: 0 auto 10px auto;
	
	.fa-circle {
		font-size: 48px;
		width: 48px;
		line-height: 48px;
		
	}
	
	.circle {
		font-size: 48px;
		width: 48px;
		height: 48px;
	
	}
	
	.i-southwest,
	.i-southeast,
	.i-northwest,
	.i-northeast,
	.i-central,
	.i-amish-country {
		font-size: 24px !important;
		top: 8px;
	}
	
	
	.i-ohio {
		font-size: 36px !important;
		top: 6px;
	}
	
	
	[class*=" fa-"]:not(.fa-circle) {
		font-size: 36px !important;
	}
	
	&.overlap{
		top: -18px;
		margin-left: -24px;
		
		&.left-side {
			margin-top: -18px !important;
			left: -24px !important;
		}
		
		&.right-side {
			margin-top: -18px !important;
			right: -24px !important;
		}
	}
	
	
	
}
	
}
