
// Load WebFonts
@font-face {
      font-family: 'Handy';
      src: url('library/fonts/handy.eot');
      src: url('library/fonts/handy.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/handy.woff') format('woff'),
		     url('library/fonts/handy.otf') format('otf'),
             url('library/fonts/handy.ttf') format('truetype'),
             url('library/fonts/handy.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }

@font-face {
      font-family: 'HandyBold';
      src: url('library/fonts/handy_bold.eot');
      src: url('library/fonts/handy_bold.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/handy_bold.woff') format('woff'),
		     url('library/fonts/handy_bold.otf') format('otf'),
             url('library/fonts/handy_bold.ttf') format('truetype'),
             url('library/fonts/handy_bold.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }

