/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/


// Font Variables
$handy: "HandyBold", "Handy", Helvetica, sans-serif;
$alt-font: "HandyBold", "Handy", Helvetica, sans-serif;
$main-font: 'Nunito Sans', Helvetica Neue, Helvetica, sans-serif;
$sans-serif: 'Nunito Sans', Helvetica Neue, Helvetica, sans-serif;
$lato: 'Nunito Sans', Helvetica Neue, Helvetica, sans-serif;
$tight: -0.5px;
$light: 200;
$regular: 300;
$bold: 700;
$heavy: 900;
$shadow: 0 3px 6px rgba(0,0,0,0.4);


//Standard Colors
$light-gray: #E5E5E5;
$gray: #7F7F7F;
$meta-gray: #333;
$dark-gray: #333;

$white: #fff;
$gray_90: #E5E5E5;
$gray_80: #CCC;
$gray_70: #B3B3B3;
$gray_60: #999;
$gray_50: #7F7F7F;
$gray_40: #666;
$gray_30: #4D4D4D;
$gray_20: #333;
$gray_10: #1A1A1A;
$black: #000;


//Brand Colors
$orange: #F28B00;
$darkorange: darken($orange, 5%);
$red: #A20C33;
$darkred: darken($red, 5%);
$white: #FFF;
$green: #C4D92E;
$darkgreen: darken($green, 5%);
$foam: #74D2E7;
$darkfoam: darken($foam, 5%);
$gold: #FEBD3B;
$darkgold: darken($gold, 5%);
$squash: #F26A36;
$darksquash: darken($squash, 5%);
$sand: #EACEB7;
$darksand: darken($sand, 5%);
$blue: #0A3266;
$darkblue: darken($blue, 5%);
$stone: #474C55;
$darkstone: darken($stone, 5%);
$lightgray: lighten($stone, 60%);
$bark: #663325;
$darkbark: darken($bark, 5%);

//Default Text Colors
$text-color: $black;
$link-color: $red;
$link-hover: darken($red, 5%);
$border-color: $gray;

//Main Nav Height
$nav-height: 108px;
$nav-height-scroll: 60px;
$max-width: 1440px;

//Susy Grid
$susy: (
  columns: 12,
  gutters: .25,
  container: 1440px,
  global-box-sizing: border-box,
  math: fluid,
  output: float,
  gutter-position: split,
);

//Font Sizes
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
$font-xl: 18px;

// Break Points
$bp-sm: 700px;
$bp-md: 768px;
$bp-lg: 990px;
$bp-xl: 1200px;

//Layout & Widths
$page-width: 1440px;
$mid: 0 auto;

//Button Radius
$button-radius: 25px;


//Clearfix 
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
	height: 0;
  }
}

//Headlines
@mixin header($size) {
    font-size: $size + px;
	line-height: ($size - 2) + px;
	font-weight: $heavy;
	margin-bottom: 5px;
}


//Labels
@mixin label($size) {
    font-size: $size + px;
	line-height: ($size - 2) + px;
	font-weight: $heavy;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

//Buttons
@mixin button($size) {
    font-size: $size + px;
	padding: ($size/2) + px $size + px;
	border-radius: $button-radius;
	font-weight: $heavy;
	text-transform: normal;
	background-color: $orange;
	color: $white;
	border-width: 0px;
}


//Allows for nested mixin below
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} { @content; }
}

//Styles Placeholder text
@mixin placeholder {

  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }

}

// Transitions Vendor Prefixes
@mixin trans($duration) {
    -webkit-transition: all $duration + s ease;
    -moz-transition: all $duration + s ease;
    -ms-transition: all $duration + s ease;
    -o-transition: all $duration + s ease;
    transition: all $duration + s ease;
}

// Border-radius Vendor Prefixes
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//Opacity cross-browser fix
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin nogridmargin($width) {
    margin: 0;
    width: calc($width + 1.66666667%);
}

//Calculate centering for absolute objects
@mixin absolute-width($width) {
    margin-left: -($width/2);
    width: $width;
}

/// Printing a linear-gradient as well as a plain color fallback
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}



/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
