/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// More base stytles, simlar to normalize but custom to site
@import "partials/base";

// typography
@import "partials/typography";

// Custom Ohio Icons
@import "partials/icons";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// helpers
@import "partials/helpers";

// the grid
@import 'plugins/susy/language/susy';
@import "partials/grid";


/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

// header images
@import "modules/headers";

// headlines
@import "modules/headlines";

// images
@import "modules/images";

// labels
@import "modules/labels";

// listings
@import "modules/listings";

// menus
@import "modules/menus";

// pagination
@import "modules/pager";

// section layouts
@import "modules/sections";

// search
@import "modules/search";

// sidebar
@import "modules/sidebar";

// videos
@import "modules/videos";

/*********************
PAGE-SPECFIC STYLES
Things only related to one specific post type or page go here...
*********************/

// Blog Styles
@import "pages/posts";

// Events Styles
@import "pages/events";


/*********************
PLUGIN-SPECFIC STYLES
Things only related to one specific WP Plugins
*********************/

// WPB Page Builder
@import "plugins/pagebuilder";

// Slick Sliders
@import "plugins/slick";

// Instagram
@import "plugins/instagram";

// Share 
@import "plugins/share";

// Datepicker 
@import "plugins/datepicker";


/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

//Small Devices
@import "breakpoints/small";

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}
