//For Small old devices

@media screen and (max-width: 450px) {

.head-120 { @include header(36); letter-spacing: -1.5px;}
.head-96 { @include header(36); letter-spacing: -1px;}
.head-88 { @include header(36);}
.head-72 {@include header(34);}
.head-60 {@include header(32);}
.head-54 {@include header(30);}
.head-48 {@include header(28);}
.head-42 {@include header(26);}
.head-36 {@include header(24);}
.head-28 {@include header(22);}

button{
	@include button(12);
	
	&.xlarge {@include button(16);}
	&.large {@include button(14);}
	&.small {@include button(12);}
	&.xsmall {@include button(12);}
}

.label-14 { @include label(10); margin-bottom: 0 !important;}
.label-18 {@include label(12); margin-bottom: 0 !important;}
.label-24 {@include label(14);}
.label-28 {@include label(18); }

}