input[type="text"].datepicker {
			width: 100%;
			font-size: 16px;
			box-sizing: border-box;
			max-width: 100% !important;
			background-color: transparent;
			color: $white;
			font-style: italic;
			font-weight: 100;
			border: 2px solid $white;
		
			@include placeholder {
				color: $white !important;
			}
		
			&:focus {
				color: $red;
				background-color: $white !important;
				
				@include placeholder {
					color: $red !important;
				}
			}
}

.ui-datepicker {
	font-family:"Nunito Sans", arial, sans-serif;
	background-color:#ffffff;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.75);
	border-radius: 0px;
	margin: 15px 0 0 -160px;
	left: 50% !important;
	padding: 0 !important;
	width: 320px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	
	td:hover, td:focus {
		background-color: $gold !important;
		color: $white !important;
	}
}

.ui-datepicker-header {
	background-color: $blue;
	padding: 20px;
	height: 80px;
}

.ui-datepicker-calendar {
	cursor:default;
	background-color:#ffffff;
	margin: 0 !important;
}


.ui-datepicker-prev,
.ui-datepicker-next {
	position:absolute;
	top: 30px;
	color: transparent !important;
	font-size:12px;
	line-height: 18px;
	text-transform:uppercase;
}

a:hover.ui-datepicker-prev,
a:hover.ui-datepicker-next {
	color: $gold;
}

.ui-datepicker-prev {
	left: 10px;
	
	svg {opacity: 1; font-size: 24px; color: $white !important;}
}

.ui-datepicker-next {
	float: right;
	right: 10px;
	
	svg {opacity: 1; font-size: 24px; color: $white !important;}
}

.ui-datepicker-prev span::before {
	font-family: "Font Awesome 5 Solid"; content: "\f104 "; opacity: 0;
	
}

.ui-datepicker-next span::after {
	font-family: "Font Awesome 5 Solid"; content: "\f105"; opacity: 0;
	
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
	background-image: none !important;
}


select.ui-datepicker-month,
select.ui-datepicker-year {
	font-family: $handy;
	font-size: 28px;
	text-align: center !important;
	background-color:transparent;
	background-image: none !important;
	border: 0;
	top: 20px;
	font-style: normal;
	width: 75px;
	position: absolute;
	z-index: 10000;
	float: left;
	color: $white;
	padding-right: 0px;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	
	&:focus {color: $gold; background-color: transparent !important;}
}

select.ui-datepicker-month {
	margin-left: 85px;
}

select.ui-datepicker-year {
	margin-left: 135px;
}

select.ui-datepicker-month > option,
select.ui-datepicker-year > option {
	font-family: $main-font;
	font-size: 16px;
	background-color:#ffffff;
	border:0;
	color:#000000;
}



















