#instagram {
	
	#sb_instagram .sbi_follow_btn a {

		@include button(18);
		background: $green !important;
		color: $white !important;

	}
	
	#sb_instagram #sbi_load .sbi_load_btn {
		
		@include button(18);
		background: $red !important;
		color: $white !important;
		
	}
	
}