#page-content {
	
	p a:hover, div a:hover, a:hover {color: $green !important;}
	p a:focus, div a:focus, a:focus {color: $green !important;}
	p a:visited, div a:visited, a:visited {color: $blue !important;}
	
	
}



//Hover Box Element
.vc-hoverbox-wrapper, .vc-hoverbox {
	height: 0;
	padding-bottom: 100%;
	
	h2 { 
		font-size: 28px !important;
		line-height: 24px !important;
		margin-bottom: 10px !important;
		color: $white;
		text-shadow: $shadow !important;
	}
}

.vc-hoverbox-back{
	background-color: $red;
	color: $white;
	font-size: 14px;
	
	button {
		background-color: $stone !important;
		border-color: $stone !important;
		background-image: none !important;
	}
	
	h2 { 
		font-size: 28px !important;
		line-height: 24px !important;
		margin-bottom: 10px !important;
		color: $white;
		text-shadow: 0 0 0 rgba(0,0,0,0) !important;
	}
	
}

.vc_single_image-wrapper img {
	border-radius: 0 !important;
}

.nospacing {
	.vc_column_container>.vc_column-inner {padding: 0 !important;}
}

.wpb_content_element {
	margin-bottom: 20px !important;
}

//Single Image & Caption

.vc_single_image-wrapper img {
		border-radius: 5px;
		margin-bottom: -5px;
	}
	
.vc_figure-caption {
	margin-top: 0 !important;
	padding: 10px;
	width: 100%;
	color: $white;
	background-color: $red;
	font-size: 12px;
	line-height: 16px;
	font-weight: $bold;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;	
}



//Headers Within WPB Pages
.red-headers {
	h2 { color: $red;}
	h3 { color: $orange;}
}

.stone-headers {
	h2 { color: $stone;}
	h3 { color: $red;}
}

.stone-headers {
	h2 { color: $orange;}
	h3 { color: $stone;}
}

.wpb_wrapper {
	
	//headers within text box
	h2, h2 strong, h2 b {@include header(36); font-weight: $heavy !important;}
	h3, h3 strong, h3 b {@include header(28); font-weight: $heavy !important;}
	h4, h4 strong, h4 b {@include header(24); font-weight: $heavy !important;}
	
	//links within text box
	a {
		color: $red !important;
			
		&:hover {
			color: $blue !important;
		}
	}
	
	.vc_btn3 {
		@include button(16);
		background-color: $stone !important;
		color: $white !important;
		border-color: $stone !important;
		background-image: none !important;
		
		&:hover { 
			background-color: $red !important;
			color: $white !important;
		}
		
		
	}
	
	//lists within text box
	ul {
		margin-left: 25px;
		list-style: disc;
		
		li {
			padding: 5px 0;	
			
			a {
				color: $red !important;
			
				&:hover {color: $blue !important;}
			}
		}
		
	}
	
}

