.share-wrap {
	text-align: center; 
	width: 100%; 
	display: block; 
	padding-bottom: 20px;
	
	.a2a_kit {
		margin: 0 auto;
		
		
		&.a2a_kit_size_48{
			width: 315px; 
			
			.a2a_count {
				width: 48px !important;
			}
		}
		
		&.a2a_kit_size_32{
			width: 220px; 
			
			.a2a_count {
					width: 32px !important;
				}
		}
		
			.a2a_svg { 
				border-radius: 50% !important; 
				padding: 5px !important;
			}
		
			.a2a_button_facebook {

				.a2a_s_facebook {
					background-color: $blue !important;
				}

				&:hover .a2a_s_facebook {
					opacity: 1 !important; 
					background-color: $darkblue !important;
				}
			}
		
			.a2a_button_twitter{

				.a2a_s_twitter {
					background-color: $foam !important;
				}

				&:hover .a2a_s_twitter {
					opacity: 1 !important; 
					background-color: $darkfoam !important;
				}

			}
		
			.a2a_button_pinterest{

				.a2a_s_pinterest {
					background-color: $red !important;
				}

				&:hover .a2a_s_pinterest {
					opacity: 1 !important; 
					background-color: $darkred !important;
				}

			}
		
			.a2a_button_email{

				.a2a_s_email {
					background-color: $green !important;
				}

				&:hover .a2a_s_email {
					opacity: 1 !important; 
					background-color: $darkgreen !important;
				}

			}
		
		.a2a_counter{

			.a2a_s_a2a {
				background-color: $orange !important;
			}
			
			&:hover .a2a_s_a2a {
				opacity: 1 !important; 
				background-color: $darkorange !important;
			}
			
		}
		
		.a2a_count {
			border-radius: 50% !important; 
		}
	
	}
	
}

@media (max-width: $bp-xl) {

	@media (max-width: $bp-lg) {

		@media (max-width: $bp-md) {

			@media (max-width: $bp-sm) {


			}
		}
	}
}

