/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}


.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}


.gallery-carousel {
	width: 100%;
	height: 400px;
	overflow: hidden;
	
	img {
		width: 100%;
		}
		
	.blog-caption {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	
	.slick-dots {
		position: absolute; 
		text-align: center; 
		width: 400px; 
		margin-left: -200px; 
		bottom: 10px; 
		left: 50%;
		
	}
}

.four-column-carousel {
	overflow: hidden !important;
	
	.slick-slide {
		margin: 0;
	}
	
	.slick-prev, 
	.slick-next { 
		top: 50%;
		font-size: 24px;
		margin-top: -12px;
		
		svg {text-shadow: $shadow;}
	}
	
	
	&.slick-initialized { visibility: visible !important; height: auto !important; }
}


.three-column-carousel {
	overflow: hidden !important;
	
	.slick-slide {
		margin: 0 7.5px;
	}
	
	.slick-prev, .slick-next { top: 10%;}
	
	
	&.slick-initialized { visibility: visible !important; height: auto !important; }
}



.content-carousel {
	overflow: hidden !important;
	
	.slick-slide {
		margin: 0;
	}
	
	&.slick-initialized { visibility: visible !important; height: auto !important; }
	
	.slick-prev {
		
		svg {
			font-size: 36px;
			line-height: 36px;
			-webkit-filter: drop-shadow( 0 0 5px rgba(0,0,0,0.7) ); 
            filter: drop-shadow( 0 0 5px rgba(0,0,0,0.7) );
		}
	}
	
	.slick-next {
		
		svg {
			font-size: 36px; 
			line-height: 36px;
			-webkit-filter: drop-shadow( 0 0 5px rgba(0,0,0,0.7) ); 
            filter: drop-shadow( 0 0 5px rgba(0,0,0,0.7) );
		}
	}
	
}


.slick-prev {
	position: absolute;
	background: transparent;
	left: 15px;
	top: 50%;
	margin-top: -18px;
	z-index: 10;
	color: $white;
	text-align: left;
	line-height: 36px;
	width: 36px !important;
	height: 36px !important;
}
	
.slick-next {
	position: absolute;
	background: transparent;
	text-align: right;
	right: 15px;
	top: 50%;
	color: $white;
	margin-top: -18px;
	z-index: 8 !important;
	width: 36px !important;
	height: 36px !important;
}


@media (max-width: $bp-lg) {



	
	@media (max-width: $bp-md) {
	


	@media (max-width: $bp-sm) {
	
	

  }
 }
}


.content-carousel:before, .content-carousel:after {
    -moz-animation: cssAnimation 0s ease-in 5s backwards;
    -webkit-animation: cssAnimation 0s ease-in 5s backwards;
    animation: cssAnimation 0s ease-in 5s backwards;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}



.slick-slide {
    float: left;
    min-height: 1px;
	
	
    [dir="rtl"] & {
        float: right;
		
    }
    img {
        display: block;
		margin: 0 auto;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-dots {
		margin: 0;
		padding: 0;

		li {
			display: inline-block; 
			border: 1px solid white;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			margin: 0 5px;
			box-shadow: $shadow;

		&.slick-active {
			background-color: $white;
		}

		button {
			display: none;
		}
	}
}


@media screen and (max-width: $bp-sm) {
	.slick-dots {
		margin: -5px 0;
		
		li {
			width: 8px;
			height: 8px;
			margin: 0 2px;
		}
	}
}

.slick-arrow.slick-hidden {
    display: none;
}



